@import "../../../../scss/variables.scss";

.reclaim-weeknight-cooking-section {
  padding: 1em 0;


  .text-wrapper {
    text-align: center;
  
    
  }
  .img-wrapper{
    display: flex;
    justify-content: center;
    img{
      object-fit: cover;
      width: 100%;
      max-height: 500px;
      max-width: 500px;
    }
  }
}
