<div class="reclaim-weeknight-cooking-section">
  <div class="copy">
    <h1 class='uppercase' i18n>reclaim weeknight cooking</h1>
    <p i18n>
      With Meals That Matter, cooking is an easier, more manageable part of your busy routine. See how a little food
      prep and planning gives you a head start in the kitchen today.
    </p>
  </div>
  <div class="img-wrapper">
    <img (click)='emitNavigation()' src="/assets/static_images/home-page/Reclaim_Cooking.jpg" alt="reclaim-cooking">
  </div>
</div>