@import "../../../../scss/customTheme.scss";
@import "../../../../scss/variables.scss";

.main-footer {
    .main-footer-wrapper {
      background-image: url("/assets/static_images/Desktop_Footer_Image.webp");
      background-size: cover;
      background-position: center;
      height: 100%;
      min-height: 40vh;
      width: 100%;
      display: flex;
      justify-content: flex-end;
      flex-direction: column;
      position: relative;
      .text-wrapper {
        text-align: center;
        color: $light_beige;
        p {
          font-family: avenir;
          width: 65%;
          margin: auto;
        }
      }
    }
  }