@import "../../../../scss/variables.scss";

.reclaim-weeknight-cooking-section {
  height: 100%;
  min-height: 40vh;
  width: 100%;

  .text-wrapper {
    text-align: center;
    padding: 1em;
  
    
  }
  .img-wrapper{
    img{
      object-fit: cover;
      width: 100%;
    }
  }
}
