@import "../../../scss/variables.scss";

.forgot-password-page {
  min-height: 75vh;
  position: relative;
  .back-button {
    top: 0;
    left: 0;
    color: $light_beige;
  }
  .forgot-password-content {
    padding: 16px;
    .title {
      font-size: 1.25em;
      text-align: left;
      margin-bottom: 1em;
      color: $light_beige;
      font-family: flavour;
    }
    .forgot-password-form {
      display: grid;
      grid-template-rows: 1fr 1fr;
      mat-icon{
        color: $light_beige;
        margin-right: 1em;
      }
      .error {
        color: $light_beige;
      }
      .forgot-password-form-field {
        width: 100%;
        .mat-form-field-underline {
          background-color: $light_beige !important;
        }

        .mat-form-field-label {
          color: $light_beige !important;
        }

        .mat-form-field-ripple {
          background-color: $light_beige !important;
        }

        .mat-datepicker-toggle-default-icon {
          color: $light_beige;
        }

        input {
          font-family: avenir;
          color: $light_beige;
        }
      }
      .action-button {
        margin-top: 0.5em;
        background-color: $light_beige;
        color: $mtm_dark_green_color;
      }
    }
  }
}
