<div class="sitemap">
    <h1 class='titlecase'>meals that matter sitemap</h1>
    <div class="sitemap-grid">
        <div class="item">
            <h3>Meals</h3>
            <a queryParamsHandling='preserve' routerLink='/recipes/discover'>Discover</a>
            <a queryParamsHandling='preserve' routerLink='/recipes/my-meals'>Meal Plan</a>
            <a queryParamsHandling='preserve' routerLink='/recipes/grocery-list'>Grocery List</a>
        </div>
        <div class="item">
            <h3>About</h3>
            <a queryParamsHandling='preserve' routerLink='/articles'>Articles</a>
            <a queryParamsHandling='preserve' routerLink='/contact-us'>Contact Us</a>
            <a queryParamsHandling='preserve' routerLink='/faqs'>FAQs</a>
        </div>
    </div>
</div>