<div class="article-page">
    <div class="header">
    </div>
    <div class='sub-header'></div>
    <div class="content">
        <div class="heading">
            <div class="title">
                Kimia’s <br /> Middle Eastern Meatball Wrap
            </div>
            <div class="underline"></div>
            <div class="author">
                By Kimia Shoghi, @kito.green
            </div>
        </div>
        <div class="article-block">
            <div class="img-wrapper">
                <img src="/assets/static_images/articles/kimias-meatball-wrap/finished-dish.jpg" alt="">
            </div>
            <p>“Cooking at home is more fun if you plan and have all ingredients ready to use. I usually find myself
                scrolling down my social media, getting lost in fancy recipes which looks appealing but confusing to
                make. So, I would like to walk you through my recipe with aid of <a href="https://mealsthatmatter.com">Meals That Matter</a>  to make comfort food
                gourmet again.”</p>
            <p>“In this recipe I am recreating Middle Eastern meatballs with nutritional fresh ingredients. I explored
                my Iranian background and cooking heritage by reimagining a classic Middle Eastern recipe from a fresh
                and colorful vegetable-focused perspective. This recipe is great for weeknights, but unique enough to
                serve for your guests.” </p>
            <p>“All ingredients are available to order through <a href="https://mealsthatmatter.com">Meals That Matter</a> , telling you the exact amount of
                ingredients you need to buy, preparing a shopping list for you to shop online or purchase in store. So,
                everything is few clicks away and you can get the ingredients all at once. Isn’t that great?”</p>
        </div>
        <div class="article-button-wrapper">
            <a routerLink='/auth/login' mat-flat-button class='article-button uppercase'>try for free
                today</a>
        </div>
        <div class="article-block">
            <div class="img-wrapper">

                <img src="/assets/static_images/articles/kimias-meatball-wrap/finished-dish-2.jpg" alt="">
            </div>
            <p>
                “Although these chicken meatballs are amazing on their own, adding some Knorr® Zaatar Seasoning Blend
                and serving them on pita bread or lettuce leaves brings them to the next level. Plus, they would taste
                incredible if you spread some Hellmann's® Organic™ Spicy Chipotle Mayonnaise onto each pita. Coming
                together in just 40 minutes with less than 10 ingredients (depending on which toppings or seasoning you
                choose)”
            </p>
            <div class="article-button-wrapper">
                <a href='https://www.mealsthatmatter.com/recipes/Kimia-Shoghi’s-Middle-Eastern-Meatball-Wrap-217331' mat-flat-button class='article-button uppercase'>try my recipes</a>
            </div>
            <p>“I used minced chicken instead of beef. The taste and good-for-you factor is something you can’t go wrong
                with. Unlike traditional meatballs, which is fried in skillet, this version is baked in the oven. The
                result is still crispy outside and tender inside.”

            </p>
            <p>“Grated zucchini would also give the meatball extra moisture without the need of so much oil with some
                added nutritional value. I hope you LOVE these meatballs as much as I do!”</p>
        </div>

        <div class="instructions-block article-block">
            <div class="heading">
                <div class="title">
                    Middle Eastern Neatball Wrap Recipe
                </div>
                <div class="servings-wrapper">
                    <div>4 Servings</div>
                    <div><span>Prep Time:</span> 25 minutes <span>Cook Time:</span>15 minutes</div>
                </div>
            </div>
            <div class="ingredients">
                <div class="ingredient">
                    <span class="ingredient-amount">450g 1bl.</span>
                    <span class="ingredient-description">ground chicken</span>
                </div>
                <div class="ingredient">
                    <span class="ingredient-amount">1</span>
                    <span class="ingredient-description">zucchini, grated</span>
                </div>
                <div class="ingredient">
                    <span class="ingredient-amount">250mL 1 cup</span>
                    <span class="ingredient-description">breadcrumbs, divided</span>
                </div>
                <div class="ingredient">
                    <span class="ingredient-amount">15 mL 1Tbsp</span>
                    <span class="ingredient-description">Knorr® Zaatar Seasoning Blend</span>
                </div>
                <div class="ingredient">
                    <span class="ingredient-amount">2 cloves</span>
                    <span class="ingredient-description">garlic, minced</span>
                </div>
                <div class="ingredient">
                    <span class="ingredient-amount">5 mL 1 tsp.</span>
                    <span class="ingredient-description">ground cumin</span>
                </div>
                <div class="ingredient">
                    <span class="ingredient-amount">5 mL 1 tsp.</span>
                    <span class="ingredient-description">ground coriander</span>
                </div>
                <div class="ingredient">
                    <span class="ingredient-amount">30 mL 2 tbsp</span>
                    <span class="ingredient-description">extra viring olive oil</span>
                </div>
                <div class="ingredient">
                    <span class="ingredient-amount">1</span>
                    <span class="ingredient-description">lemon</span>
                </div>
                <div class="ingredient">
                    <span class="ingredient-amount">4</span>
                    <span class="ingredient-description">pita breads or wraps</span>
                </div>
                <div class="ingredient">
                    <span class="ingredient-amount">30 mL 2 Tbsp.</span>
                    <span class="ingredient-description">Hellmann's® Organic™ Spicy Chipotle Mayonnaise</span>
                </div>
                
                <div class="ingredient">
                    <span class="ingredient-amount">75 mL 1/3 cup</span>
                    <span class="ingredient-description">chopped mint leaves</span>
                </div>
                <div class="ingredient">
                    <span class="ingredient-amount">30 mL 3 Tbsp.</span>
                    <span class="ingredient-description">pomegranate molasses</span>
                </div>

            </div>
            <div class="instructions">
                <div class="instruction">
                    <div class='instruction-step'>
                        <span>1</span></div>
                    <span class="instruction-description">
                        Preheat the oven to 450°F (230° C). Line rimmed baking sheet with parchment paper or greased foil. 
                    </span>
                </div>
                <div class="instruction">
                    <div class='instruction-step'>
                        <span>2</span></div>
                    <span class="instruction-description">
                        Combine chicken, grated zucchini, 1/2 cup (125 mL) breadcrumbs, Knorr® Harissa Seasoning Blend, garlic, cumin and coriander in medium bowl. Coat hands with olive oil and roll 1 Tbsp. (15 mL) mixture into balls, then roll into remaining breadcrumbs. 
                    </span>
                </div>
                <div class="instruction">
                    <div class='instruction-step'>
                        <span>3</span></div>
                    <span class="instruction-description">
                        Arrange on prepared baking sheet. Arrange lemon slices around meatballs. Bake 15 minutes or until golden brown and thoroughly cooked. 
                    </span>
                </div>
                <div class="instruction">
                    <div class='instruction-step'>
                        <span>4</span></div>
                    <span class="instruction-description">
                        Spread 1/2 Tbsp. (7 mL) Hellmann's® Organic™ Spicy Chipotle Mayonnaise onto each pita. Add meatballs and mint leaves and lettuce and cucumbers, if desired, then drizzle with pomegranate molasses. 
                    </span>
                </div>
                <div class="instruction tip">
                    <div class='instruction-step'>
                        <span>TIP:</span></div>
                    <span class="instruction-description">
                        Want to skip the bread? Roll meatballs up in lettuce leaves instead. 
                    </span>
                </div>
            </div>
        </div>
        <div class="article-button-wrapper">
            <a href="https://www.mealsthatmatter.com/recipes/Kimia-Shoghi’s-Middle-Eastern-Meatball-Wrap-217331" mat-flat-button class='article-button uppercase'>see recipe</a>
        </div>
    </div>
    <div class="sub-footer">
    </div>
    <div class='footer'></div>
</div>