<div class="article-page">
    <div class="header">
    </div>
    <div class='sub-header'></div>
    <div class="content">
        <div class="heading">
            <div class="title">
                Yiayia’s Greek Pastitsio (Lasagna) <br /> Recipe: Made with Love
            </div>
            <div class="underline"></div>
            <div class="author">
                By Tania Motuzas, @taniamotuzas
            </div>
        </div>
        <div class="article-block">
            <div class="img-wrapper">
                <img src="/assets/static_images/articles/yiayias-greek-pastitsio/finished-dish.jpg" alt="">
            </div>
            <p>“Pastitsio is traditional Greek comfort food. Pasta layered with meat, cheese and a creamy Béchamel sauce
                that’s baked together to form Lasagna. This recipe is one of my childhood favourites, a specialty of my
                Yiayia, Kiki (which means Grandmother in Greek). It’s been in the family for a very long time, I have
                added a few minor tweaks to make it my own!”</p>
            <p>“My Yiayia, Kiki had a restaurant in Montreal (as many Greek’s do) and her customers used to call her
                ‘mama’ even though she was in her 30’s because she would feed everyone like a Mother. Growing up she
                would take the train to come visit us every summer. It was always such an exciting time because she
                would have one suitcase with her personal belongings and another full of food. She would pack it tightly
                with feta and olives from the specialty grocer. Montreal smoked meat with a fresh loaf of rye bread
                would also make an appearance and of course freshly baked cookies and baklava. Yiayia is such a selfless
                woman, to this day, she brings food to families who are less fortunate and always cooks with love. This
                recipe means so much to me because she taught me how to make it just the way she does. Every bite is
                like a warm hug that bring me back to my childhood.”</p>

        </div>

        <div class="article-block">
            <div class="img-wrapper">
                <img src="/assets/static_images/articles/yiayias-greek-pastitsio/close-up-dish.jpg" alt="">
            </div>
            <p>
                “I used the <a href="https://www.mealsthatmatter.com">Meals That Matter </a> tool to make this recipe,
                and it made it so much easier. I usually order my groceries online anyway and always seem to forget at
                least one ingredient and then run to the store. With this tool everything is added to cart for you, so
                nothing is missed. It’s also so much quicker than the traditional way of shopping and anything that
                saves me time is a plus in my books! Explore the <a href="https://www.mealsthatmatter.com">Meals That
                    Matter </a> tool today in the link provided
                below”
            </p>
            <div class="article-button-wrapper">
                <a routerLink='/' mat-flat-button class='article-button uppercase'>explore meals that matter </a>
            </div>
        </div>
        <div class="instructions-block article-block">
            <div class="heading">
                <div class="title">
                    Yiayia's Greek Pastitsio Recipe
                </div>
                <div class="servings-wrapper">
                    <div>8 Servings</div>
                    <div><span>Prep Time:</span> 20 minutes <span>Cook Time:</span>1 hour 30 minutes</div>
                </div>
            </div>
            <div class="ingredients">
                <div class="ingredient">
                    <span class="ingredient-amount">450g 1lb.</span>
                    <span class="ingredient-description">penne pasta or bucatini or ziti</span>
                </div>
                <div class="ingredient">
                    <span class="ingredient-amount">15 mL 3 tsp.</span>
                    <span class="ingredient-description">olive oil, divided</span>
                </div>
                <div class="ingredient">
                    <span class="ingredient-amount">450 g 1 lbs.</span>
                    <span class="ingredient-description">ground beef </span>
                </div>
                <div class="ingredient">
                    <span class="ingredient-amount">1 medium</span>
                    <span class="ingredient-description">onion, chopped</span>
                </div>
                <div class="ingredient">
                    <span class="ingredient-amount">5 mL 1 tsp.</span>
                    <span class="ingredient-description">dried oregano leaves</span>
                </div>
                <div class="ingredient">
                    <span class="ingredient-amount">5 mL 1 tsp.</span>
                    <span class="ingredient-description">cinnamon</span>
                </div>
                <div class="ingredient">
                    <span class="ingredient-amount">1 can (794 g)</span>
                    <span class="ingredient-description">whole peeled tomatoes (preferable San Marzano)</span>
                </div>
                <div class="ingredient">
                    <span class="ingredient-amount">1 package</span>
                    <span class="ingredient-description">Knorr® Bechamel Classic Sauce Mix</span>
                </div>
                <div class="ingredient">
                    <span class="ingredient-amount">500 mL 2 cups</span>
                    <span class="ingredient-description">1% milk</span>
                </div>
                <div class="ingredient">
                    <span class="ingredient-amount">250 mL 1 cups</span>
                    <span class="ingredient-description">grated Parmesan cheese, divided</span>
                </div>
                <div class="ingredient">
                    <span class="ingredient-amount">5 mL 1 tsp.</span>
                    <span class="ingredient-description">ground nutmeg</span>
                </div>
            </div>
            <div class="method">
                <p><strong>Method</strong> </p>
                <p>Preparing Pastitsio requires three basic steps before assembling and placing the dish into the oven:
                    preparing the meat sauce, then the pasta, and lastly the Béchamel sauce. In 20 minutes, the
                    Pastitsio will be ready to place into the oven. </p>
            </div>
            <div class="img-wrapper">
                <img src="/assets/static_images/articles/yiayias-greek-pastitsio/ingredients.jpg" alt="">
            </div>
            <div class="instructions">
                <div class="instruction">
                    <div class='instruction-step'>
                        <span>1</span></div>
                    <span class="instruction-description">
                        Preheat oven to 350°F (180°C). Cook pasta according to package directions for al dente. Drain;
                        return to pot and toss with 2 tsp. (10 mL) olive oil. Cover and set aside.
                    </span>
                </div>
                <div class="instruction">
                    <div class='instruction-step'>
                        <span>2</span></div>
                    <span class="instruction-description">
                        While pasta cooks, make meat sauce. Heat remaining 1 tsp. (5 mL)olive oil in large nonstick
                        skillet and cook ground beef and onions, stirring occasionally, until beef is browned. Stir in
                        oregano, cinnamon (which is what really set's this dish off and gives it the truly nostalgic
                        Pastitsio flavour. It may sound weird but trust me on this one) and then salt and pepper to
                        taste, if desired. Stir in tomatoes and bring to a boil, breaking up tomatoes with a wooden
                        spoon. Reduce heat and simmer 10 minutes, stirring occasionally. Remove from heat and set aside.
                    </span>
                </div>
                <br />
                <div class="img-wrapper">
                    <img src="/assets/static_images/articles/yiayias-greek-pastitsio/meat-sauce.jpg" alt="">
                </div>
                <br />

                <div class="instruction">
                    <div class='instruction-step'>
                        <span>3</span></div>
                    <span class="instruction-description">
                        Make the Bechamel Sauce: Bechamel can be tricky to make which is why I like to use the Knorr
                        Bechamel Classic Sauce Mix. Whisk Knorr® Bechamel Classic Sauce Mix and 1% milk in medium
                        saucepan until blended. Bring to a boil over medium-high heat, whisking constantly. Reduce heat
                        and simmer 3 minutes, whisking frequently until thickened. Stir in 1 cup parmesan cheese and
                        nutmeg.
                    </span>
                </div>
                <div class="instruction">
                    <div class='instruction-step'>
                        <span>4</span></div>
                    <span class="instruction-description">
                        Time to assemble the dish. I like to spread about 1/2 cup (125 mL) meat sauce onto bottom of
                        deep 13 x 10-in. (3.5 to 4 L) baking dish. Combine pasta and remaining meat sauce and pour into
                        baking dish, then pour bechamel sauce over pasta to cover. Sprinkle remaining 1/2 cup (125 mL)
                        Parmesan evenly over top.
                    </span>
                </div>
                <div class="instruction">
                    <div class='instruction-step'>
                        <span>5</span></div>
                    <div class="instruction-description">
                        <p>
                            Bake 45 to 60 minutes, or until the top is golden brown. Remove from oven and let stand 15
                            minutes before cutting. Enjoy!
                        </p>
                        <p>The real question is when to make this dish. I like to make it for a Sunday night dinner with
                            friends. I’ll whip up a Greek salad to go with it, some warm crusty bread and a bottle of
                            red wine. If there are any leftovers it freezes well which is great for a lazy evening when
                            you don’t feel like cooking. I’ll wrap individual pieces in saran wrap and place in the
                            freezer.</p>
                    </div>
                </div>
            </div>
        </div>




        <div class="article-button-wrapper">
            <a mat-flat-button class='article-button uppercase'>try my recipe today</a>
        </div>
    </div>
    <div class="sub-footer">
    </div>
    <div class='footer'></div>
</div>