<div class="contact-us-page">
    <div class="contact-us-copy">
        <h2 i18n>Need some help?</h2>
        <h1 class='uppercase' i18n>contact us</h1>
        <p i18n>Questions? Comments? We value your feedback and would love to hear from you.</p>
        <p i18n>You can contact us in a variety of ways, the choice is yours.</p>
    </div>
    <div class="contact-us-accordion">
        <mat-accordion class="contact-us-align">
            <mat-expansion-panel expanded hideToggle>
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        <mat-icon>phone</mat-icon>
                        <span class='uppercase'>
                            CALL US
                        </span>
                    </mat-panel-title>
                    <mat-panel-description>
                        <button aria-label="Expand accordion" mat-icon-button>
                            <mat-icon>add</mat-icon>
                        </button>
                    </mat-panel-description>
                </mat-expansion-panel-header>
                <p class='contact-us-description' i18n>If you would like to speak to a live representative, please call
                    us at
                    1-800-899-1120,
                    Monday to Friday between 8:30 AM-6:00 PM Eastern Time.
                    <br />
                    IF THIS IS A MEDICAL OR PRODUCT SAFETY EMERGENCY, PLEASE CALL
                    <span class='phone-number'>1-800-297-7421.</span>
                    <br />
                    This number is available 24 hours a day / 7 days a week.</p>





            </mat-expansion-panel>
            <mat-expansion-panel class='no-expand' hideToggle>
                <mat-expansion-panel-header class='no-expand'>
                    <mat-panel-title>
                        <mat-icon>email</mat-icon>
                        <span i18n>
                            MESSAGE US
                        </span>
                    </mat-panel-title>
                    <mat-panel-description>
                        <a class='action-button' (click)='stopPropogation($event)'
                            href="mailto:Canada.english.meals.that.matter@unilever.com?subject=General Inquiry"
                            mat-icon-button>
                            <mat-icon>send</mat-icon>
                        </a>
                    </mat-panel-description>
                </mat-expansion-panel-header>

            </mat-expansion-panel>

        </mat-accordion>

        <div class="live-chat">
            <img alt="Live chat online" id="liveagent_button_online_5734J0000000EkV"
                style="display: none; border: 0px none; cursor: pointer;"
                onclick="liveagent.startChat('5734J0000000EkV')" (click)="adobeDtbTracking.contactUs('Live Chat');"
                src="https://uwsites.secure.force.com/UnileverLiveChat/resource/1569427152000/CEC_ChatOnlineMealsthatMatterCanadaEnglish" />
            <img alt="Live chat offline" id="liveagent_button_offline_5734J0000000EkV"
                style="display: none; border: 0px none;"
                src="https://uwsites.secure.force.com/UnileverLiveChat/resource/1569427152000/CEC_ChatOfflineMealsthatMatterCanadaEnglish" />
        </div>
    </div>
</div>