<div class="meal">
  <mat-card class='meal-card'>
    <div mat-card-image [style.backgroundImage]="'url('+mealItem.image+')'" (click)='viewMealDetail()'>
      <div class='active'></div>
      <div class="meal-title">
        {{mealItem.title | truncate:30}}
      </div>
    </div>
    <div class="meal-toolbar-icons">
      <div class="favourite-icons">
        <mat-icon class='favourite-icon' [class.favourited]='favourited' (click)='toggleFavorite($event)'>
          favorite
        </mat-icon>
        <mat-icon class='favourite-border-icon' (click)='toggleFavorite($event)'>
          favorite_border
        </mat-icon>
      </div>
    </div>

    <mat-card-content>
      <div class="counter-buttons">
        <button aria-label="Remove from meal plan" mat-flat-button color='warn' class='remove' (click)='removeMeal()'>
          <mat-icon>remove</mat-icon> REMOVE FROM MEAL PLAN
        </button>
      </div>
      <ng-container *ngIf='mealItem.servings'>
        <h2>NUTRITIONAL FACTS</h2>
        <p>{{mealItem.servings}}</p>
      </ng-container>
      <ng-container *ngIf='!mealItem.servings && mealItem.mainIngredient'>
        <h2>MAIN INGREDIENT</h2>

        <p>{{mealItem.mainIngredient}}</p>

      </ng-container>

      <div class="macros-container">
        <div class="macro-wrapper">
          <mat-icon class='bread' svgIcon='mtmbread'></mat-icon>
          <span>Carbs: {{mealMacros.carbs}} g</span>
        </div>
        <div class="macro-wrapper">
          <mat-icon class='burger' svgIcon='mtmblob'></mat-icon>
          <span>Fat: {{mealMacros.fat}} g</span>
        </div>
        <div class="macro-wrapper">
          <mat-icon class='blob' svgIcon='mtmfire'></mat-icon>
          <span>Calories: {{mealMacros.calories}}</span>
        </div>
      </div>
    </mat-card-content>
  </mat-card>
</div>