<div class="on-board-content">
  <div class="logo-wrapper">
    <img src="/assets/static_images/MTM_Final_LOGO.svg" alt="mtm-logo">
  </div>
  <div class="copy">
    <h1 i18n>Meal Planning, Made Easy </h1>
    <p i18n>Sign up today and start exploring the world with hundreds of international and local recipes, your own unique meal plans, and convenient grocery delivery.
    </p>
  </div>
  <div class="button-wrapper">
    <button mat-mini-fab (click)='scrollToHowItWorks()'>
      <mat-icon>expand_more</mat-icon>
    </button>
  </div>

</div>