@import '../../../../../scss/customTheme.scss';

.grocery-list-page{
    height: calc(100% - 64px);
    min-height: calc(100vh - 64px);

    display: flex;

    flex-direction: column;

    background-color: #fffef9;
    position: relative;
    z-index: 1;
    .title{
        text-align: center;
        margin-bottom: unset;
        color: $mtm_dark_green_color;
        font-weight: bold;
    }
    .grocery-container{
        overflow: auto;
        flex: 1;
        .cc-mealplan-details-container{
            height: 100%;
        }
    }
    .button-wrapper{
        display: flex;
        justify-content: center;
        width: 100%;
        button{
            width: 300px;
        }
    }
}
