<div class="grocery-list-page">
  <h1 class='title'> GROCERY LIST </h1>
  <div *ngIf="!isMealPlanEmpty" class="grocery-container" [innerHtml]='groceryListWidget | safeHtml'></div>
  <ng-container *ngIf='isMealPlanEmpty'>
    <p class='no-items-text'>
      <!-- No meals found -->
    </p>
    <div class="button-wrapper">
      <button aria-label="Select meals" mat-raised-button class='add-meal-button' color='primary'
        routerLink='/recipes/discover' (click)="adobeDtbTracking.page_tracking('SELECT MEALS','/recipes/discover')">
        SELECT MEALS
      </button>
    </div>
  </ng-container>
</div>