<app-what-and-what-not-to-freeze *ngIf='articleId === "what-and-what-not-to-freeze"'></app-what-and-what-not-to-freeze>
<app-jackys-deviled-eggs *ngIf='articleId === "jackys-deviled-eggs-recipe"'></app-jackys-deviled-eggs>
<app-what-and-what-not-to-freeze *ngIf='articleId === "what-and-what-not-to-freeze"'></app-what-and-what-not-to-freeze>
<app-what-and-what-not-to-freeze *ngIf='articleId === "what-and-what-not-to-freeze"'></app-what-and-what-not-to-freeze>
<app-what-and-what-not-to-freeze *ngIf='articleId === "what-and-what-not-to-freeze"'></app-what-and-what-not-to-freeze>