@import "../../../scss/variables.scss";

.home-page {
  height: 100%;

  mat-sidenav-container {
    height: 100%;
    mat-sidenav-content {
      overflow: unset;
      .menu-button {
        position: absolute;
        top: 0;
        z-index: 2;
        color: $mtm_dark_green_color;
        background-color: $light_beige;
        margin: 1em;
      }
    }

    .get-started-button-wrapper {
      position: absolute;
      bottom: 0;
      display: flex;
      width: 100%;
      justify-content: center;
      button {
        margin: 1em;
      }
    }
  }
}
  