<div class="home-page">
  <section [class]="isMobile ? 'mobile-wrapper' : 'main-wrapper'">
    <div class="component-wrapper">
      <div class="home-content" [class.desktop]='isWeb'>
        <app-on-board (scroll)='scrollToHowItWorks()' (login)='routeToLogin()'></app-on-board>
      </div>
    </div>
  </section>
  <div class="desktop-content" #howitworks>
    <ng-template [ngComponentOutlet]="howItWorksComponent" *ngtemplateoutlet="{isMobile: true}"></ng-template>
    <ng-template [ngComponentOutlet]="youWillLoveThisComponent" *ngtemplateoutlet="{isMobile: true}"></ng-template>
    <ng-template [ngComponentOutlet]="reclaimWeeknightCookingComponent" *ngtemplateoutlet="{isMobile: true}"></ng-template>
  </div>
</div>