@import "../../../scss/variables.scss";

.home-page {
  height: 100%;
  background-color: $mtm_white;

  mat-sidenav-container {
    @media(max-width:1024px) {
      mat-sidenav{
        width: 100%;
      }
    }
    mat-sidenav-content {
      overflow: unset;
      .menu-button {
        position: absolute;
        top: 0;
        z-index: 2;
        color: $mtm_dark_green_color;
        background-color: $mtm_white;
        margin: 1em;
      }
    }

    .get-started-button-wrapper {
      position: fixed;
      bottom: 0;
      display: flex;
      width: 100%;
      justify-content: center;
      background-color: $mtm_grey;
      button {
        margin: 1em;
        width: 300px;
        font-size: 16px;
        padding: 4px;
      }
    }
  }
}
  