<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #snav mode="over" [class]="isMobile ? 'mobile-nav' : 'web-nav'" [fixedInViewport]="true">
    <app-mobile-menu (close)='snav.close()'></app-mobile-menu>

  </mat-sidenav>
  <mat-sidenav-content>
    <button class='menu-button' aria-label="Open menu" [class.deactivate]='snav.opened' mat-icon-button (click)="snav.toggle()">
      <mat-icon *ngIf='!snav.opened'>menu</mat-icon>
    </button>

    <div class="home-page">
      <section [class]="isMobile ? 'mobile-wrapper' : 'main-wrapper'">
        <div class="component-wrapper">
          <div class="home-content" [class.desktop]='isWeb'>
            <app-on-board (scroll)='scrollToHowItWorks()' (login)='routeToLogin()'></app-on-board>
          </div>
        </div>
      </section>
      <div class="desktop-content" #howitworks>
        <app-how-it-works [isMobile]='isMobile'></app-how-it-works>
        <app-you-will-love-this [isMobile]='isMobile' [isWeb]='isWeb'></app-you-will-love-this>
        <app-reclaim-weeknight-cooking [isMobile]='isMobile'></app-reclaim-weeknight-cooking>
      </div>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>