@import "../../../../scss/variables.scss";

.mat-dialog-container {
  overflow: unset;
}
.dialog-container {
  background-color: $mtm_white;
  max-width: 80vw;
}


.dialog-content {
  background-color: $mtm_white;
  display: flex;
  height: 75vh;
  .auth-img-wrapper {
    width: 100%;
    position: relative;
    img {
      object-fit: cover;
      height: 100%;
      width: 100%;
      // -webkit-filter: blur(1px);
      // filter: blur(1px);
    }
  
  }
  .mobile-auth-content-stepper {
    width: 100%;
    padding: 1em;
  }
  .auth-content-stepper {
    max-width: 40%;
    overflow: scroll;
    overflow-x: hidden;
    position: relative;
    padding: 1em;
    -ms-overflow-x: hidden;
  }
  .close-button {
    position: absolute;
    top: 0;
    right: 0;
    color: $mtm_white;
  }
  mat-horizontal-stepper {
    background: unset;
    .mat-horizontal-stepper-header-container {
      display: none;
    }
    .mat-horizontal-content-container {
      padding: 8px 0 0 8px;
    }
    .auth-container {
      display: grid;
      grid-template-rows: auto 1fr 1fr;
      min-height: 75vh;
      .auth-header {
        text-align: center;
        color: $mtm_black;
      }
      .create-account-wrapper {
        display: flex;
        flex-direction: column;
        h2 {
          color: $mtm_black;
        }
        button {
          margin-bottom: 2em;
        }
      }
   
      .auth-form {
        .sign-in-wrapper {
          margin-top: 2em;
          display: flex;
          flex-direction: column;
          h2 {
            color: $mtm_black;
            margin: unset;
          }
          .forgot-button {
            color: $mtm_black;
            text-align: left;
            padding: 0.5em 0;
            text-decoration: underline;
          }
        }
      }
    }
    .mobile-container {
      flex-direction: column;
      min-height: 50vh;
    }
  }
}

.mobile-dialog-container {
  height: 100vh;
  position: relative;
  overflow: scroll;
  background-color: $mtm_white;
}

mat-icon{
  margin: 0 4px 4px 0;
}

.sign-in-button{
  background-color: $mtm_grey !important;
  color: $mtm_light_green_color !important;
}

.heading{
  background-color: $mtm_grey;
  padding-bottom: 1em;
  .toolbar {
    display: flex;
    width: calc(50% + 24px); //hlaf with + half logo
    justify-content: space-between;

    .edit-button {
      color: $mtm_dark_green_color;
    }
    .deactivate {
      cursor: default;
      pointer-events: none;
    }
    .logo {
      height: 48px;
      cursor: pointer;
      img {
        height: 100%;
        margin-top: 4px;
      }
    }
}
}