<section class='how-it-works'>
  <div class="copy how-it-works-bg">
    <h1>HOW IT WORKS</h1>
    <p>Select delicious recipes.
    Create instant grocery lists.
    Delivered straight to your door</p>
  </div>

  <div class="browse-our-recipes">
    <div class="copy">
      <h1>BROWSE OUR RECIPES</h1>
      <p>A little taste of 500+ chef curated recipes. Register to explore them all.</p>
    </div>
    <app-mtm-slider (onEndReached)='pushEnd()' (onStartReached)='pushStart()'>
      <a class='carousel-img-wrapper' *ngFor='let recipe of recipes; trackBy: trackByIndex; let i=index;' (click)='emitNavigation(recipe.link)'>
        <img class='carousel-image' [src]="recipe.image" alt="recipe">
      </a>
    </app-mtm-slider>
  </div>
  <div class="create-meal-plan">
    <div class="copy">
      <h1>CREATE MEAL PLAN</h1>
      <p>Add recipes from around the world to your 'Meal Plan'. Make cooking an adventure with deliciously diverse meals.
      </p>

    </div>
    <div class="img-wrapper">
      <img src="/assets/static_images/Create_Meal_Image.jpg" alt="Shop meal plan">

    </div>

  </div>
  <div class="shop-your-meal-plan">
    <div class="copy">
      <h1>SHOP YOUR MEAL PLAN</h1>
      <p>Your chosen ingredients,
        delivered to your door,
        from your go-to grocery store.
        </p>
    </div>
    <div class="img-wrapper">
      <img src="/assets/static_images/Shop_Meal_Image.jpg" alt="Shop meal plan">

    </div>
  </div>
  <!-- <div class="watch-how-to-video">
    <h1>WATCH HOW TO VIDEO</h1>
    <iframe src="https://www.youtube.com/embed/tgbNymZ7vqY">
    </iframe>
  </div> -->

</section>