@import "../../../../scss/variables.scss";
@import "../../../../scss/variables.scss";

.how-it-works {
  text-align: center;
  background-color: $mtm_white;
  .copy {
    padding: 1em;
    background-color: $mtm_grey;
    p {
      margin: unset;
    }
  }
  .browse-our-recipes {
    padding: 1em;
    text-align: center;
  }
  .carousel-img-wrapper {
    height: 250px;
    width: 300px;
    border-radius: 4px;
    .carousel-image {
      object-fit: cover;
      height: 100%;
      width: 100%;
      border-radius: 4px;
    }
  }

  // .create-your-meal-plan {

  // }

  .shop-your-meal-plan {
    padding: 0 2em;
  }
  .img-wrapper {
    display: flex;
    justify-content: center;
    padding: 1em;
    img {
      object-fit: cover;
      height: 100%;
      width: 100%;
      max-height: 500px;
      max-width: 500px;
      width: 350px;

    }
  }
      .watch-how-to-video{
        padding: 1em;
        h1{
          font-size: 1.5em;
        }
      }
}
