@import "../../../../scss/variables.scss";
@import "../../../../scss/variables.scss";

.how-it-works {
  text-align: center;
  background-color: $darker_beige;
  .copy {
    padding: 1em;
    p {
      margin: unset;
    }
  }
  
}
