@import "../../../../scss/variables.scss";
@import "../../../../scss/variables.scss";

.how-it-works {
  text-align: center;
  background-color: $mtm_white;
  .copy{
    display: flex;
    align-items: center;
    flex-direction: column;
  }
  h1 {
    margin-top: unset;
  }
  p {
    @media(max-width: 1024px) {
      margin: unset;
    }
    margin-bottom: unset;
  }
  .how-it-works-bg {
    background-color: $mtm_grey;
    padding: 2em;
  }

  .browse-our-recipes {
    text-align: center;
    .copy{
      padding: 3em 2em 0 2em;
    }
  }
  .carousel-img-wrapper {
    height: 250px;
    width: 275px;
    border-radius: 4px;
    .carousel-image {
      object-fit: cover;
      height: 100%;
      width: 100%;
      border-radius: 4px;
    }
  }

  .create-meal-plan {
    cursor: pointer;
  }

  .shop-your-meal-plan {
    cursor: pointer;
    @media (max-width: 1024px) {
      padding: 0 2em;
    }
  }
  .img-wrapper {
    display: flex;
    justify-content: center;
    img {
      object-fit: cover;
      height: 100%;
      width: 100%;
      border-radius: 4px;
      max-height: 40vh; //copying from live
      @media (max-width: 1024px) {
        width: 350px;
      }
      @media (min-width: 1024px) {
        width: 500px;
      }
    }
  }
  .watch-how-to-video {
    padding: 1em;
    h1 {
      font-size: 1.5em;
    }
  }
}
