<div class="meal">
  <mat-card class='meal-card'>
    <div mat-card-image [style.backgroundImage]="'url('+mealItem.image+')'" (click)='viewMealDetail()'>
      <div [class.active]='inMealPlan'></div>
      <!-- <div class="meal-title">
        {{mealItem.title | truncate:30}}
      </div> -->
    </div>
    <div class="meal-toolbar-icons">
      <div class="favourite-icons">
        <mat-icon class='favourite-icon' [class.favourited]='(favourited || !recommendedMeal)'
          (click)='toggleFavorite($event)'>
          favorite
        </mat-icon>
        <mat-icon class='favourite-border-icon' (click)='toggleFavorite($event)'>
          favorite_border
        </mat-icon>
      </div>
    </div>

    <!-- <mat-card-content *ngIf='!recommendedMeal'>
      <button *ngIf='!inMealPlan' mat-flat-button color='primary' (click)='addToMealPlan()'>
        <mat-icon>add</mat-icon> ADD TO MEAL PLAN
      </button>
      <button mat-flat-button color='warn' class='remove' *ngIf='inMealPlan' (click)='removeFromMealPlan()'>
        <mat-icon>remove</mat-icon> REMOVE FROM MEAL PLAN
      </button>
    </mat-card-content> -->
  </mat-card>
  <p class='meal-title' >{{mealItem.title | truncate:32}}</p>

</div>