@import "../../../scss/variables.scss";
@import "../../../scss/variables.scss";

.meal {
  padding: 16px;
}

.meal-title{
  text-align: center;
}
.meal-card {
  margin: 0.5em;
  cursor: pointer;
  padding: unset;
  box-shadow: unset !important;
  background-color: $mtm_white;
  
  .mat-card-image {
    min-height: 175px;
    max-height: 200px;
    height: 20vh;
    background-position: center;
    background-size: cover;
    position: relative;
    box-shadow: $mtm-box-shadow;
  }
  .active:before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    height: 20vh;
    min-height: 175px;
    max-height: 200px;
    bottom: 0;
    background-color: rgba($mtm_white, 0.5);
  }

  .remove {
    color: $mtm_white;
    width: 100%;
    mat-icon {
      color: $mtm_white !important;
    }
  }

  .meal-toolbar-icons {
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    top: 8px;
    display: flex;
    justify-content: space-between;
    .active-icon {
      color: $mtm_white;
      // z-index: 2;
    }
    .favourite-icons {
      cursor: pointer;
      .favourite-icon {
        color: transparent;
        transform: scale(1.5);
        position: absolute;
        right: 0;
      }
      .favourite-border-icon {
        color: $mtm_white;
        z-index: 2;
        right: 0;
        position: absolute;
        transform: scale(1.5);
      }
    }
    .favourited {
      color: $mtm_light_green_color !important;
    }
  }
  mat-card-content {
    text-align: center;
    .counter-buttons {
      display: flex;
      justify-content: center;
      align-items: center;
      .item-count {
        min-width: 24px;
      }
      button {
        mat-icon {
          color: $mtm_light_green_color;
        }
      }
    }
    h2 {
      color: $mtm_light_green_color;
      font-family: flavour;
    }
    p {
      font-family: avenir;
    }
    .macros-container {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      .macro-wrapper {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        font-family: avenir;
        font-size: 10px;
        mat-icon {
          margin-bottom: 1em;
          &.blob {
            transform: scale(2);
          }
          &.bread {
            transform: scale(2.5);
          }
          &.burger {
            transform: scale(1.5);
          }
        }
      }
    }
  }
}
