@import "../../../../scss/variables.scss";

.mat-dialog-container {
    padding: 16px;
    .filter-dialog {
        position: relative;
        @media (max-width: 767px) {
            height: calc(100vh - 2em);
            .filter-header {
                display: flex;
                padding: 0 1em;
                img {
                    flex: 1;
                    height: 48px;
                    width: 48px;
                }
                button {
                    flex: 0;
                }
            }
        }
        @media(min-width: 768px) {
            height: 50vh;
            width: 50vh;
            .filter-header {
                display: flex;
                padding: 0 1em;
                img {
                    flex: 1;
                    height: 48px;
                    width: 48px;
                }
               
            }
        }

        .close-button {
        @media (min-width: 1024px) {
                display: none;
            }
            position: absolute;
            top: 4px;
            right: 4px;
        }
        .copy {
            text-align: center;
            padding: 0 1em;
        }
        .clear-button-wrapper {
            display: flex;
            justify-content: flex-end;
            button {
                text-decoration: underline;
            }
        }
        .filters {
           
            .filter-wrapper {
                padding: 1em;
                cursor: pointer;
                &.active {
                    background-color: $mtm_grey;
                    color: $mtm_dark_green_color;
                }
            }
        }
    }
    .disclaimers{
        small{
            display: block;
            margin: 1em;
        }
    }
}

.cdk-overlay-pane {
    max-width: unset !important;
}
