<div class="filter-dialog" (scroll)='onElementScroll($event)'>
    <div class="filter-header" mat-dialog-close routerLink='/'>
        <img src="/assets/static_images/MTM_Favicon_4c_2.svg" alt="">
    </div>
    <button class='close-button' mat-icon-button mat-dialog-close>
        <mat-icon>close</mat-icon>
    </button>
    <div class="copy">
        <h1 i18n class='uppercase'>filter recipes</h1>
        <p i18n>Select the filters below to narrow down your search.</p>
    </div>
    <div class="clear-button-wrapper">
        <button mat-button color="primary" (click)='clear()' i18n>Clear Filter</button>
    </div>
    <div class="filters">
        <div (click)='setActiveFilter(filter.id)' class="filter-wrapper" [class.active]='filter.active'
            *ngFor='let filter of filters'>
            <strong>
                <span class='titlecase'>
                    {{filter.name}}
                </span>
                 <sup *ngIf='filter.disclaimerId'>{{filter.disclaimerId}}</sup>
            </strong>
        </div>
    </div>
    <div class="disclaimers" #disclaimerWrapper>
        <!-- <ul>
            <li > -->
        <!-- <strong>{{disclaimer.title}} <sup>{{disclaimer.disclaimerId}}</sup>
                </strong> -->
        <ng-container *ngFor='let disclaimer of disclaimers'>
            <small>
                {{disclaimer.disclaimerId}}
                <span>
                    {{disclaimer.text}}
                </span>
            </small>
            <br />
        </ng-container>

        <!-- </li>
        </ul> -->

    </div>
    <div class="scroll-down-button" *ngIf='!hideScroll'>
        <button mat-icon-button (click)='scrollDown()'>
            <mat-icon>expand_more</mat-icon>
        </button>
    </div>
</div>