<div class="filter-dialog" (scroll)='onElementScroll($event)'>
    <div class="filter-header" mat-dialog-close routerLink='/'>
        <img src="/assets/static_images/MTM_Favicon_4c_2.svg" alt="">
    </div>
    <button class='close-button' mat-icon-button mat-dialog-close>
        <mat-icon>close</mat-icon>
    </button>
    <div class="copy">
        <h1>FILTER RECIPES</h1>
        <p>Select the filters below to narrow down your search.</p>
    </div>
    <div class="clear-button-wrapper">
        <button mat-button color="primary" (click)='clear()'>Clear Filter</button>
    </div>
    <div class="filters">
        <div (click)='setActiveFilter(filter.id)' class="filter-wrapper" [class.active]='filter.active'
            *ngFor='let filter of filters'>
            <strong>
                {{filter.name}} <sup *ngIf='filter.disclaimerId'>{{filter.disclaimerId}}</sup>
            </strong>
        </div>
    </div>
    <div class="disclaimers" #disclaimerWrapper>
        <small *ngFor='let disclaimer of disclaimers'>
            <sup>{{disclaimer.disclaimerId}}</sup>
            {{disclaimer.text}}
        </small>
    </div>
    <div class="scroll-down-button" *ngIf='!hideScroll'>
        <button mat-icon-button (click)='scrollDown()'><mat-icon>expand_more</mat-icon> </button>
    </div>
</div>