@use "../../../scss/variables";
.search-wrapper {
  mat-icon {
    vertical-align: middle;
    color: variables.$mtm_dark_green_color;
  }
  
  .mat-form-field-appearance-legacy .mat-form-field-underline {
    background-color: variables.$mtm_dark_green_color;
  }

  .mat-form-field-label {
    color: variables.$mtm_dark_green_color;
  }

  .mat-form-field-ripple {
    background-color: variables.$mtm_dark_green_color;
  }
  .mat-form-field-empty span{
   text-transform: uppercase;
 }
}
