@import "../../../scss/variables.scss";
.search-wrapper {
  mat-icon {
    vertical-align: middle;
    color: $mtm_light_green_color;
  }
  .mat-form-field-appearance-legacy .mat-form-field-underline {
    background-color: $mtm_dark_green_color;
  }

  .mat-form-field-label {
    color: $mtm_dark_green_color;
  }

  .mat-form-field-ripple {
    background-color: $mtm_dark_green_color;
  }
}
