@import "../../../scss/variables.scss";

.profile-page {
  height: calc(100% - 64px); // height subtracting toolbar
  min-height: calc(100vh - 64px); // height subrating toolbar (landscape)
  background-color: $mtm_white;
  margin-top: 4em;
  position: relative;
  z-index: 1;
}
.mobile-profile-page {
  height: calc(100% - 40px); // height subtracting mobil toolbar
  min-height: calc(100vh - 40px); // height subrating toolbar (landscape)
  background-color: $mtm_white;
  margin-top: 2em;
}

.mobile-profile-tabs {
  width: 90%;
  margin: auto;
}

.profile-tabs {
  width: 65%;
  margin: auto;
}

mat-tab-group {
  mat-tab-body {
    overflow: unset !important;
    .mat-tab-body-content {
      margin-top: 3em;
    }
    .mat-tab-labels {
      justify-content: center;
      .mat-tab-label {
        width: 100%;
      }
    }
  }
}
.notifications-tab{
  margin-top: 1em;
  p{
    margin: 8px;
  }
  mat-checkbox{
    .mat-checkbox-label {
      white-space: normal;
    }
    .mat-checkbox-inner-container {
      margin: 8px;
    }
  }
  .action-buttons {
    display: flex;
    justify-content: center;
    flex-direction: column;
    .save-button {
      min-width: 150px;
      width:70%;
      background-color: $mtm_grey;
      color: $mtm_dark_green_color;
      margin: 1em auto;
    }
  }
}
