<div class='product-benefits'>
  <div class="copy">
    <h1 i18n class='uppercase'>why you'll love this</h1>
    <p i18n>
      Enjoy delicious recipe inspiration, personalized meal plans and delivery for a great cooking experience.
    </p>
  </div>

  <app-mtm-slider (onEndReached)='pushEnd()' (onStartReached)='pushStart()'>
    <div class='youll-love-this-meal-item' *ngFor="let item of carouselData; trackBy: trackByIndex; let i=index;" (click)='emitNavigation()'>
      <div class="img-wrapper">
        <img [alt]="item.header" [src]='item.img' [alt]='item.header' />

      </div>
      <div class='content'>
        <h3 class='meal-title uppercase' i18n='item.header: header of item to display'>{
          item.header,
          select,
          chef curated recipes {chef curated recipes}
          instant grocery list {instant grocery list}
          shopping made easy {shopping made easy}
          less time prepping {less time prepping}
          save on costs {save on costs}
        }</h3>
        <p class='meal-body'>{{item.body}}</p>

      </div>
    </div>

  </app-mtm-slider>
  <div class="get-started-button copy">
      <button  (click)='emitNavigation()' mat-flat-button color='accent' class='uppercase' i18n>get started</button>
  </div>
</div>