<div class='product-benefits'>
  <div class="text-wrapper">
    <h1>WHY YOU'LL LOVE THIS</h1>
    <p>
      Enjoy delicious recipe inspiration, personalized grocery lists and delivery for a better cooking experience.
    </p>
  </div>

  <app-mtm-slider>
    <div class='meal-item' *ngFor="let item of carouselData">
      <div class="img-wrapper">
        <img [alt]="item.header" [src]='item.img' [alt]='item.header' />

      </div>
      <div class='content'>
        <h3 class='meal-title'>{{item.header}}</h3>
        <p class='meal-body'>{{item.body}}</p>

      </div>
    </div>

  </app-mtm-slider>


</div>