@import "../../../../scss/variables.scss";

.product-benefits {
  background-color: $mtm_white;
  .text-wrapper {
    text-align: center;
    p {
      font-family: avenir;
      margin: auto;
      width: 65%;
    }
  }

  .meal-item{
    .img-wrapper{
      height: 200px;
      width: 300px;
      border-radius: 4px;
      img{
        object-fit: cover;
        height: 100%;
        width: 100%;
      }
    }
    .content{
      background-color: $mtm_grey;
      text-align: center;
      padding: 1em;
      .meal-title{
        margin-top: unset;
      }
    
    }
  }


}
