@import "../../../../scss/variables.scss";

.product-benefits {
  background-color: $mtm_white;
  .text-wrapper {
    text-align: center;
    p {
      font-family: avenir;
      margin: auto;
      width: 65%;
    }
  }

  .meal-item{
    .img-wrapper{
      img{
        object-fit: cover;
      }
    }
    .content{
      .meal-title{

      }
      .meal-body{
        
      }
    }
  }


}
