<div *ngIf='meal && !loading'
  [class]="inDialog ? (isMobile ? 'mobile-recipe-page' : 'recipe-page') + ' dialog' : (isMobile ? 'mobile-recipe-page' : 'recipe-page')"
  #topOfPage>
  <div class="recipe-close-button" *ngIf='inDialog'>
    <button mat-icon-button mat-dialog-close>
      <mat-icon>close</mat-icon>
    </button>
  </div>
  <section class="headers">
    <h1 class="header">
      {{meal.title}}
      <!-- ABOUT THE RECIPE -->
    </h1>
    <p class='subheader'>{{meal.description}}</p>
  </section>

  <section class="meal-recipe" [class]="isMobile ? 'mobile-meal-recipe' : 'meal-recipe'">
    <div class="meal-summary-mobile" *ngIf='isMobile'>
      <div class="img-wrapper">
        <button class='add-button' mat-mini-fab *ngIf='!mealPlanIds[meal.id]' (click)='addToMealPlan()'>
          <mat-icon>add</mat-icon>
        </button>
        <button class='remove-button' mat-mini-fab *ngIf='mealPlanIds[meal.id]' (click)='removeFromMealPlan()'>
          <mat-icon>remove</mat-icon>
        </button>
        <img [alt]="meal.title" [src]="meal.image" alt="meal item">
        <mat-icon class='favourite-button' *ngIf='favourited' (click)='updateFavourites(meal)'>favorite</mat-icon>
        <button class='favourite-border-button' mat-mini-fab (click)='updateFavourites(meal)'>
          <mat-icon>favorite_border</mat-icon>
        </button>
      </div>
      <div class="meal-subheader">
        <div class="meal-info">

          <p>
            {{(meal.prepTime + meal.cookTime) > 60 ? ((meal.prepTime + meal.cookTime) / 60 | floor )+ 'H ' + (meal.prepTime + meal.cookTime) % 60 : (meal.prepTime + meal.cookTime)}}Min
            {{meal.servings ? '- ' + meal.servings : ''}}
          </p>
        </div>


      </div>
    </div>
    <div class="meal-summary-desktop" *ngIf='!isMobile'>
      <div class="summary-container">
        <div class="summary-text-wrapper">
          <div class="meal-info">
            <!-- <h3>
              {{meal.title}}
            </h3> -->
            <p>{{meal.prepTime + meal.cookTime}} min {{meal.servings ? '- ' + meal.servings : ''}}</p>
          </div>

          <p class='meal-description' *ngIf='meal.mainIngredient' >
            <strong i18n>
              Main Ingredient
            </strong>
            <span>
              {{ meal.mainIngredient }}</span> </p>
          <br>
          <p class='meal-description'>
            <ng-container *ngIf='meal.cookTime'>
              <strong i18n>cook time</strong>
              {{meal.cookTime > 60 ? (meal.cookTime / 60 | floor )+ 'H ' + meal.cookTime % 60 : meal.cookTime}} Min -
            </ng-container>
            <br />
            <ng-container *ngIf='meal.prepTime'>
              <strong i18n>prep time</strong>
              {{meal.prepTime}} Min
            </ng-container>
          </p>

        </div>
        <div class="action-wrapper">
          <div class="img-wrapper">
            <button class='add-button' mat-mini-fab *ngIf='!mealPlanIds[meal.id]' (click)='addToMealPlan()'>
              <mat-icon>add</mat-icon>
            </button>
            <button class='remove-button' mat-mini-fab *ngIf='mealPlanIds[meal.id]' (click)='removeFromMealPlan()'>
              <mat-icon>remove</mat-icon>
            </button>
            <img [alt]="meal.title" [src]="meal.image" alt="meal item">
            <mat-icon class='favourite-button' *ngIf='favourited' (click)='updateFavourites(meal)'>favorite</mat-icon>
            <button class='favourite-border-button' mat-mini-fab (click)='updateFavourites(meal)'>
              <mat-icon>favorite_border</mat-icon>
            </button>
          </div>
          <div class="meal-subheader">
            <a mat-stroked-button [href]='emailContent' (click)="adobeDtbTracking.sharingMealByEmail(meal.title)" i18n>
              EMAIL
            </a>
            <mtm-language-switch *ngIf="inDialog" [isInPopup]="true" [idMeal]="meal.id"></mtm-language-switch>
          </div>
        </div>

      </div>
    </div>
    <div class="meal-tabs-container">
      <mat-tab-group (selectedTabChange)="adobeDtbTracking.anchorLinkTab($event.index, 'meal detail',meal.title)">
        <mat-tab i18n-label label="INGREDIENTS">
          <app-meal-tab [isMobile]='isMobile' [data]='meal.ingredients'>

          </app-meal-tab>
        </mat-tab>
        <mat-tab i18n-label label="INSTRUCTIONS">
          <app-meal-tab [isMobile]='isMobile' [data]='meal.instructions'>

          </app-meal-tab>
        </mat-tab>
        <mat-tab i18n-label label="NUTRITION">
          <app-nutrition-table [nutritionFacts]='meal.nutrition'></app-nutrition-table>
        </mat-tab>
      </mat-tab-group>
    </div>


  </section>

  <section class='other-recommended-meals' #recommendedMeals>
    <div class="text-wrapper">
      <h1 class='uppercase' i18n>other recommended recipes</h1>
      <!-- <p>Click on the meals you’d like to make. -->
      <!-- </p> -->
    </div>

    <div class="recommended-carousel">

      <app-mtm-slider (onStartReached)='pushStart()' (onEndReached)='pushEnd()'>
        <app-meal-item *ngFor="let recipe of relatedRecipes" [recommendedMeal]='true' (add)='addToMealPlan($event)'
          (remove)='removeFromMealPlan($event)' parent='recipe-detail' (favouriteToggled)='updateFavourites($event)'
          (wasClicked)='visitMealDetailPage($event)' [inMealPlan]='mealPlanIds[recipe.id]'
          [favourited]='favouriteMealIds?.includes(recipe.id)' [mealItem]='recipe'>
        </app-meal-item>

      </app-mtm-slider>
    </div>
  </section>
  <div class="meal-details-footer-wrapper">
    <div class="text-wrapper">
      <p i18n>With Meals That Matter, cooking is an easier, more manageable part of your busy routine. <br />
        <br />
        See how a little food prep and planning gives you a head start in the kitchen today.</p>
    </div>
    <div class="meal-detail-action-button">
      <button aria-label="Select more meals" mat-stroked-button mat-dialog-close (click)='checkAuth()'
        (click)="adobeDtbTracking.anchorLinkMeal('SELECT MORE MEALS', meal.title)" class='uppercase' i18n>select more meals</button>
    </div>

  </div>
  <section class='meal-details-footer'>

  </section>

</div>
<p *ngIf='!loading && !meal'>Meal not found</p>

<div class="gif-wrapper" *ngIf='loading'>
  <img class='loading-text' src="/assets/static_images/Whisk-Stat-Transp.png" />
</div>