<div *ngIf='meal && !loading'
  [class]="inDialog ? (isMobile ? 'mobile-recipe-page' : 'recipe-page') + ' dialog' : (isMobile ? 'mobile-recipe-page' : 'recipe-page')"
  #topOfPage>
  <div class="recipe-close-button" *ngIf='inDialog'>
    <button mat-icon-button mat-dialog-close>
      <mat-icon>close</mat-icon>
    </button>
  </div>
  <section class="headers">
    <h1 class="header">
      {{meal.title}}
      <!-- ABOUT THE RECIPE -->
    </h1>
    <p class='subheader'>{{meal.description}}</p>
  </section>

  <section class="meal-recipe" [class]="!isWeb ? 'mobile-meal-recipe' : 'meal-recipe'">
    <div class="meal-summary-mobile" *ngIf='isMobile'>
      <button class='add-button' mat-mini-fab *ngIf='!inMealPlan' (click)='addToMealPlan()'>
        <mat-icon>add</mat-icon>
      </button>
      <button class='remove-button' mat-mini-fab *ngIf='inMealPlan' (click)='removeFromMealPlan()'>
        <mat-icon>remove</mat-icon>
      </button>
      <div class="img-wrapper">
        <img [alt]="meal.title" [src]="meal.image" alt="meal item">
      </div>
      <div class="meal-subheader">
        <div class="meal-info">
          <p class='title'>
            {{meal.title}}
          </p>
          <p>
            {{(meal.prepTime + meal.cookTime) > 60 ? ((meal.prepTime + meal.cookTime) / 60 | floor )+ 'H ' + (meal.prepTime + meal.cookTime) % 60 : (meal.prepTime + meal.cookTime)}}Min
            {{meal.servings ? '- ' + meal.servings : ''}}
          </p>
        </div>

        <!-- <div class="action-buttons">
          <button aria-label="Add to meal plan" *ngIf='!inMealPlan' mat-button class='add-button'
            [ngClass]="{'added': inMealPlan}" (click)='addToMealPlan()'>
            <mat-icon>add</mat-icon>
            ADD TO MEAL PLAN
          </button>
          <button aria-label="Remove from meal plan" *ngIf='inMealPlan' color='warn' mat-button class='remove-button'
            (click)='removeFromMealPlan()'>
            <mat-icon>remove</mat-icon>
            REMOVE FROM MEAL PLAN
          </button>
        </div> -->
      </div>
    </div>
    <div class="meal-summary-desktop" *ngIf='!isMobile'>
      <div class="summary-container">
        <div class="text-wrapper">
          <div class="meal-info">
            <h3>
              {{meal.title}}
            </h3>
            <p>{{meal.prepTime + meal.cookTime}} min {{meal.servings ? '- ' + meal.servings : ''}}</p>
          </div>
      
          <p class='meal-description' *ngIf='meal.mainIngredient'>Main Ingredient:<strong> {{ meal.mainIngredient }}</strong> </p>
          <br>
          <p class='meal-description'>
            <ng-container *ngIf='meal.cookTime'>
              <strong>Cook time:</strong>
              {{meal.cookTime > 60 ? (meal.cookTime / 60 | floor )+ 'H ' + meal.cookTime % 60 : meal.cookTime}} Min -
            </ng-container>
            <br/>
            <ng-container *ngIf='meal.prepTime'>
              <strong>Prep time:</strong>
              {{meal.prepTime}} Min
            </ng-container>
          </p>

        </div>
        <div class="action-wrapper">
          <button class='add-button' mat-mini-fab *ngIf='!inMealPlan' (click)='addToMealPlan()'>
            <mat-icon>add</mat-icon>
          </button>
          <button class='remove-button' mat-mini-fab *ngIf='inMealPlan' (click)='removeFromMealPlan()'>
            <mat-icon>remove</mat-icon>
          </button>
          <div class="img-wrapper">
            <img [alt]="meal.title" [src]="meal.image" alt="meal item">
          </div>
          <div class="meal-subheader">
            <a mat-stroked-button [href]='emailContent'
              (click)="adobeDtbTracking.sharingMealByEmail(meal.title)">
              EMAIL
            </a>
            <div class="cta-wrapper">
              <!-- <div class="social-media-icons">
                <img src="assets/static_images/facebook.png" alt="Facebook logo">
                <img src="assets/static_images/twitter.png" alt="Twitter logo">
                <img src="assets/static_images/instagram.png" alt="Instagram logo">
              </div> -->
              <!-- <div class="action-buttons">
                <button aria-label="Add to meal plan" *ngIf='!inMealPlan' mat-button class='add-button'
                  [ngClass]="{'added': inMealPlan}" (click)='addToMealPlan()'>
                  <mat-icon>add</mat-icon>
                  ADD TO MEAL PLAN
                </button>
                <button aria-label="Remove from meal plan" *ngIf='inMealPlan' color='warn' mat-button
                  class='remove-button' (click)='removeFromMealPlan()'>
                  <mat-icon>remove</mat-icon>
                  REMOVE FROM MEAL PLAN
                </button>
              </div> -->
            </div>

          </div>
        </div>

      </div>
    </div>
    <div class="meal-tabs-container">
      <mat-tab-group (selectedTabChange)="adobeDtbTracking.anchorLinkTab($event.index, 'meal detail',meal.title)">
        <mat-tab label="INGREDIENTS">
          <app-meal-tab [isMobile]='isMobile' [data]='meal.ingredients'>

          </app-meal-tab>
        </mat-tab>
        <mat-tab label="INSTRUCTIONS">
          <app-meal-tab [isMobile]='isMobile' [data]='meal.instructions'>

          </app-meal-tab>
        </mat-tab>
        <mat-tab label="NUTRITION">
          <app-nutrition-table [nutritionFacts]='meal.nutrition'></app-nutrition-table>
        </mat-tab>
      </mat-tab-group>
    </div>
 

  </section>

  <section class='other-recommended-meals' #recommendedMeals>
    <div class="text-wrapper">
      <h1>OTHER RECOMMENDED RECIPES</h1>
      <!-- <p>Click on the meals you’d like to make. -->
      <!-- </p> -->
    </div>

    <div class="recommended-carousel">

      <app-mtm-slider>
        <app-meal-item *ngFor="let recipe of meal?.relatedRecipes" [recommendedMeal]='true' parent='recipe-detail'
          (favouriteToggled)='updateFavourites($event)' (wasClicked)='visitMealDetailPage($event)'
          [favourited]='favouriteMealIds?.includes(recipe.id)' [mealItem]='recipe'>
        </app-meal-item>

      </app-mtm-slider>
    </div>
  </section>
  <div class="meal-details-footer-wrapper">
    <div class="text-wrapper">
      <p>With Meals That Matter, cooking is an easier, more manageable part of your busy routine. <br />
        <br />
        See how a little food prep and planning gives you a head start in the kitchen today.</p>
    </div>
    <div class="meal-detail-action-button">
      <button aria-label="Select more meals" mat-stroked-button mat-dialog-close (click)='checkAuth()'
        (click)="adobeDtbTracking.anchorLinkMeal('SELECT MORE MEALS', meal.title)">SELECT
        MORE MEALS</button>
    </div>
   
  </div>
  <section class='meal-details-footer'>

  </section>

  <!-- 
        recipe widget
        <section>
        <div class="meal-detail-widget" [innerHtml]='mealDetailWidget'></div>
      </section> -->
</div>
<p *ngIf='!loading && !meal'>Meal not found</p>

<div class="gif-wrapper" *ngIf='loading'>
  <img class='loading-text' src="/assets/static_images/whisk_wood_green.gif" />
</div>