<div *ngIf='meal && !loading' 
  [class]="inDialog ? (isMobile ? 'mobile-recipe-page' : 'recipe-page') + ' dialog' : (isMobile ? 'mobile-recipe-page' : 'recipe-page')" 
  #topOfPage>
  <div class="close-button" *ngIf='inDialog'>
    <button mat-icon-button mat-dialog-close>
      <mat-icon>close</mat-icon>
    </button>
  </div>
  <section class="headers">
    <h1 class="header">
      {{meal.title}}
      <!-- ABOUT THE RECIPE -->
    </h1>
    <p class='subheader'>{{meal.description}}</p>
  </section>

  <section class="meal-recipe" [class]="!isWeb ? 'mobile-meal-recipe' : 'meal-recipe'">
    <div class="meal-summary-mobile" *ngIf='isMobile'>
      <div class="img-wrapper">
        <img [alt]="meal.title" [src]="meal.image" alt="meal item">
      </div>
      <div class="meal-subheader">
        <div class="meal-info">
          <p>
            {{meal.title}}
          </p>
          <p>
            {{(meal.prepTime + meal.cookTime) > 60 ? ((meal.prepTime + meal.cookTime) / 60 | floor )+ 'H ' + (meal.prepTime + meal.cookTime) % 60 : (meal.prepTime + meal.cookTime)}}Min
            {{meal.servings ? '- ' + meal.servings : ''}}
          </p>
        </div>

        <div class="action-buttons">
          <button aria-label="Add to meal plan" *ngIf='!inMealPlan' mat-button class='add-button'
            [ngClass]="{'added': inMealPlan}" (click)='addToMealPlan()'>
            <mat-icon>add</mat-icon>
            ADD TO MEAL PLAN
          </button>
          <button aria-label="Remove from meal plan" *ngIf='inMealPlan' color='warn' mat-button class='remove-button'
            (click)='removeFromMealPlan()'>
            <mat-icon>remove</mat-icon>
            REMOVE FROM MEAL PLAN
          </button>
        </div>
      </div>
    </div>
    <div class="meal-summary-desktop" *ngIf='!isMobile'>
      <div class="summary-container">
        <div class="text-wrapper">
          <div class="meal-info">
            <h3>
              {{meal.title}}
            </h3>
            <p>{{meal.prepTime + meal.cookTime}} min {{meal.servings ? '- ' + meal.servings : ''}}</p>
          </div>
          <p class='meal-description' *ngIf="meal.cuisine"><strong>Cuisine:</strong> {{ meal.cuisine }}</p>
          <br>
          <p class='meal-description'><strong>Main Ingredient:</strong> {{ meal.mainIngredient }}</p>
          <br>
          <p class='meal-description'>
            <ng-container *ngIf='meal.cookTime'>
              <strong>Cook time:</strong>
              {{meal.cookTime > 60 ? (meal.cookTime / 60 | floor )+ 'H ' + meal.cookTime % 60 : meal.cookTime}} Min -
            </ng-container>
            <ng-container *ngIf='meal.prepTime'>
              <strong>Prep time:</strong>
              {{meal.prepTime}} Min
            </ng-container>
          </p>

        </div>
        <div class="action-wrapper">
          <div class="img-wrapper">
            <img [alt]="meal.title" [src]="meal.image" alt="meal item">
          </div>
          <div class="meal-subheader">
            <a mat-stroked-button class='send-to-email-button' [href]='emailContent'
              (click)="adobeDtbTracking.sharing_meal_by_email(meal.title)">
              SEND TO EMAIL
            </a>
            <div class="cta-wrapper">
              <!-- <div class="social-media-icons">
                <img src="assets/static_images/facebook.png" alt="Facebook logo">
                <img src="assets/static_images/twitter.png" alt="Twitter logo">
                <img src="assets/static_images/instagram.png" alt="Instagram logo">
              </div> -->
              <div class="action-buttons">
                <button aria-label="Add to meal plan" *ngIf='!inMealPlan' mat-button class='add-button'
                  [ngClass]="{'added': inMealPlan}" (click)='addToMealPlan()'>
                  <mat-icon>add</mat-icon>
                  ADD TO MEAL PLAN
                </button>
                <button aria-label="Remove from meal plan" *ngIf='inMealPlan' color='warn' mat-button
                  class='remove-button' (click)='removeFromMealPlan()'>
                  <mat-icon>remove</mat-icon>
                  REMOVE FROM MEAL PLAN
                </button>
              </div>
            </div>

          </div>
        </div>

      </div>
    </div>
    <div class="meal-tabs-container">
      <mat-tab-group (selectedTabChange)="adobeDtbTracking.anchor_link_tab($event.index, 'meal detail',meal.title)">
        <mat-tab label="INGREDIENTS">
          <app-meal-tab [isMobile]='isMobile' [data]='meal.ingredients'>

          </app-meal-tab>
        </mat-tab>
        <mat-tab label="INSTRUCTIONS">
          <app-meal-tab [isMobile]='isMobile' [data]='meal.instructions'>

          </app-meal-tab>
        </mat-tab>
        <mat-tab label="NUTRITION">
          <app-nutrition-table [nutritionFacts]='meal.nutrition'></app-nutrition-table>
        </mat-tab>
      </mat-tab-group>
    </div>
    <div class="scroll-to-bottom-button-wrapper" *ngIf='!isMobile'>
      <button aria-label="Scroll down" class='scroll-button' mat-mini-fab (click)='scrollDown()'>
        <mat-icon>expand_more</mat-icon>
      </button>
    </div>

  </section>

  <section class='other-recommended-meals' #recommendedMeals>
    <div class="text-wrapper">
      <h1>OTHER RECOMMENDED RECIPES</h1>
      <!-- <p>Click on the meals you’d like to make. -->
      <!-- </p> -->
    </div>

    <div class="recommended-carousel">
      <ngx-slick-carousel [class]="!isWeb ? 'mobile-carousel recipe-page-carousel' : 'carousel recipe-page-carousel'"
        #slickModal="slick-carousel" [config]="slideConfig" (beforeChange)='setCarouselChanging($event)'>
        <div ngxSlickItem *ngFor="let recipe of meal?.relatedRecipes" class="slide">
          <!-- Use this componnet for recommended meals viewer -->
          <app-favourite-meal [recommendedMeal]='true' (favouriteToggled)='updateFavourites($event)'
            (wasClicked)='visitMealDetailPage($event)' [favourited]='favouriteMealIds?.includes(recipe.id)'
            [mealItem]='recipe'>
          </app-favourite-meal>
        </div>
      </ngx-slick-carousel>
    </div>
  </section>
  <section class='meal-details-footer'>
    <div class="meal-details-footer-wrapper">
      <div class="text-wrapper">
        <p>With Meals That Matter, cooking is an easier, more manageable part of your busy routine. <br />
          See how a little food prep and planning gives you a head start in the kitchen today.</p>
      </div>
      <div class="meal-detail-action-button">
        <button aria-label="Select more meals" mat-stroked-button mat-dialog-close
          (click)="adobeDtbTracking.anchor_link_meal('SELECT MORE MEALS', meal.title)">SELECT
          MORE MEALS</button>
      </div>
      <div class="logo-wrapper" *ngIf='!isMobile'>
        <img src="assets/static_images/MTM_Final_LOGO_4c.svg" alt="Meals That Matter Logo">
      </div>
      <div class="scroll-to-top-button-wrapper" *ngIf='!isMobile'>
        <button aria-label="Scroll to top" class='scroll-button' mat-mini-fab (click)='scrollToTop()'>
          <mat-icon>expand_less</mat-icon>
        </button>
      </div>
    </div>
  </section>

  <!-- 
        recipe widget
        <section>
        <div class="meal-detail-widget" [innerHtml]='mealDetailWidget'></div>
      </section> -->
</div>
<p *ngIf='!loading && !meal'>Meal not found</p>
<mat-spinner diameter='20' *ngIf='loading'></mat-spinner>