@use "../../../../scss/variables";

.favourite-button {
  position: absolute;
  bottom: -13px;
  z-index: 2;
  left: 16px;
  color: variables.$mtm_light_green_color !important;
  transform: scale(0.75);
}
.favourite-border-button {
  position: absolute;
  bottom: -20px;
  left: 8px;
  background-color: variables.$mtm_white !important;
  color: variables.$mtm_dark_green_color !important;
  transform: scale(0.9);

}

.unset-box-shadow {

  .mat-dialog-container {
    box-shadow: unset !important;
    background: transparent !important;
  }
}
.recipe-page {
  
  overflow: scroll;
  overflow-x: hidden;
  -ms-overflow-x: hidden;
  position: relative;
  z-index: 1;
  font-family: Arial; 
  font-weight: regular;
  background-color: variables.$mtm_white;
  &.dialog{
    max-width: 80vw;
    max-height: 80vh;
  }
 
}



.mobile-recipe-page{
  
  width: 100vw;
  height: 100vh;
  overflow: scroll;
  overflow-x: hidden;
  -ms-overflow-x: hidden;
  
}

.recipe-close-button {

  position:absolute;
  z-index: 100;
  top: 0;
  right: 0;
  color: variables.$mtm_dark_green_color;
  //  width:100%;
}

.gif-wrapper{
  display: flex;
  justify-content: center;
  img{
    height: 40px;
  }
}


.headers {
  margin-top: 3em;
  padding: 0 3em;
  .header {
    font-size: 2em;
    text-align: center;
    align-self: end;
  }
  .subheader {
    text-align: center;
  }
}

.meal-recipe {
  padding: 2em 3em 1em 3em;
  background-color: variables.$mtm_white;
}
.mobile-meal-recipe {
  padding: 0 4px;
  background-color: variables.$mtm_white;
}
.meal-info{
  @media(max-width: 768px) {
    padding: 0 1em;
  }
}
.text-wrapper{
  padding: 0 3em;
}
.meal-summary-mobile {
  position: relative;
  .add-button{
    position: absolute;
    right: 1em;
    top: -20px;
    .mat-button-wrapper{
      padding: 6px 0;
    }
  }
  .remove-button{
    position: absolute;
    right: 1em;
    top: -20px;
  }
  .img-wrapper {
    display: flex;
    width: 100%;
    position: relative;
    img {
      height: 100%;
      width: 100%;
      object-fit: cover;
    }
  }
  .meal-subheader {
    display: flex;
    justify-content: flex-end;
    margin: 1em 0;
    .title{
      color: variables.$mtm_dark_green_color;
    }
    p {
      margin: unset;
      font-size: 1em;
    }
  }
  .action-buttons {
    justify-self: start;
    text-align: right;
    .add-button {
      color: variables.$mtm_dark_green_color;
    }
    .added {
      opacity: 0.5;
    }
  }
}
.meal-summary-desktop {
  margin: 2em 0;
  .summary-container {
    display: grid;
    grid-template-columns: 1fr 2fr;
    .text-wrapper {
      h3 {
        color: variables.$mtm_dark_green_color;
        margin: unset;
      }
      .meal-description {
        
        padding-right: 1em;
        margin: unset;
      }
    }
    .action-wrapper {
      position: relative;
      .add-button{
        position: absolute;
        right: 1em;
        top: -20px;
      }
      .remove-button{
        position: absolute;
        right: 1em;
        top: -20px;
      }
      .img-wrapper {
        height: 35vh;
        width: 100%;
        position: relative;
        img {
          height: 100%;
          width: 100%;
          object-fit: cover;
          object-position: center;
        }
      }
      .meal-subheader {
        display: flex;
        justify-content: flex-end;
        margin-top: 8px;
        .send-to-email-button {
          background-color: variables.$mtm_grey;
          color: variables.$mtm_dark_green_color;
        }
        .cta-wrapper {
          display: flex;
          .social-media-icons {
            img {
              height: 24px;
              margin: 4px;
            }
          }
          .action-buttons {
            justify-self: start;
            text-align: right;
            margin-left: 1em;
            .add-button {
              color: variables.$mtm_dark_green_color;
              border: 1px solid rgba(variables.$mtm_light_grey, 0.7);

            }
            .added {
              opacity: 0.5;
            }
          }
        }
      }
    }
  }
}
.meal-tabs-container {
  height: 100%;
  .mat-tab-group {
    height: 100%;
  }
  .mat-tab-label-content {
    font-family: 500;
  }
  .mat-tab-header {
    border-bottom: unset;
  }
  .mat-tab-label {
    height: 24px;
    padding: 0 12px;
    font-size: 12px;
    font-weight: 600;
    border-radius: 4px 4px 0 0;
    background-color: variables.$mtm_light_green_color;
    color: variables.$mtm_white;
    margin: 0 4px;
  }
  .mat-tab-label-active {
    background-color: variables.$mtm_dark_green_color;
    color: variables.$mtm_white;
  }
  .mat-tab-body-wrapper {
    background-color: variables.$mtm_grey;
    height: 100%;
  }
  .mat-ink-bar {
    display: none;
  }
  
}

.scroll-to-bottom-button-wrapper {
  display: flex;
  justify-content: center;
  button {
    bottom: 0;
    margin-top: 1em;
    z-index: 1;
  }
}

.other-recommended-meals {
  background-color: variables.$mtm_white;

  h1{
    text-align: center;
    margin-bottom: unset;
  }
 
}
.meal-details-footer {
  height: 40vh;
  background-image: url("/assets/static_images/meal-recipe-footer.jpg");
  background-size: cover;
  background-position: center;
  width: 100%;
  position: relative;
  padding-bottom: 3em;
}
    .meal-details-footer-wrapper {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      .text-wrapper {
        color: variables.$mtm_dark_grey;
        p {
          
          text-align: center;
          padding: 0 1em;
        }
      }
      .logo-wrapper {
        position: absolute;
        bottom: 2em;
        left: 1em;
        height: 10vh;
        width: 10vh;
        img {
          object-fit: contain;
          height: 100%;
          width: 100%;
        }
      }
      .meal-detail-action-button {
        background-color: variables.$mtm_grey;
        padding: 1em;
        width: 100%;
        text-align: center;
        button {
          background-color: variables.$mtm_dark_green_color;
          color: variables.$mtm_white;
        }
      }
      .scroll-to-top-button-wrapper {
        display: flex;
        justify-content: flex-end;
        button {
          position: absolute;
          bottom: 1em;
          right: 3em;
        }
      }
    }
.scroll-button {
  color: variables.$mtm_light_green_color !important;
  background-color: variables.$mtm_white !important;
  border: 1px solid variables.$mtm_light_green_color !important;
}

*:focus {
  outline: 0;
  outline: none;
}

mat-spinner{
  margin: auto;
}

.add-button {

  background-color: variables.$mtm_white !important;
  color: variables.$mtm_dark_green_color !important;
  border: 1px solid rgba(variables.$mtm_light_grey, 0.7);
  .mat-button-wrapper{
    padding: 6px 0;
  }


}
.remove-button {
  
  background-color: variables.$mtm_dark_green_color !important;
  color: variables.$mtm_white !important;

}