<div class="article-page">
    <div class="header">
    </div>
    <div class='sub-header'></div>
    <div class="content">
        <div class="heading">
            <div class="title">
                Find Adventure in Food with <br /> my Korean Rice Bowl
            </div>
            <div class="underline"></div>
            <div class="author">
                By @viranlly
            </div>
        </div>
        <div class="article-block">
            <div class="img-wrapper">
                <img src="/assets/static_images/articles/viranllys-korean-rice-bowl/finished-dish.jpg" alt="">
            </div>
            <p>“For most of us, at this day and age, travelling the world is just a fading memory that we’re holding on
                oh so dearly. The experience of discovering new things, eating and drinking at new places, meeting
                strangers have now turned into intimate gatherings with our closest friends, sharing comforting meals,
                in the familiar setting that is our home. Which, honestly, is not a bad thing.”</p>
            <p>“Food is and can be a powerful tool that triggers and alters our minds and brings us back to the great
                times we’ve experienced in the past.”</p>
            <p>“I created this Korean Rice Bowl dish to recreate memories of sharing delicious
                food in the lively K-Town of Los Angeles. Not only that Korean barbecue is delicious and drool-worthy,
                there’s something about cooking your meat in one sizzling-hot grill (while bumping loud music playing in
                the background too) that brings so much joy. With this dish, I’m repackaging Korean barbecue into a bowl
                of easy, smoke-free, plant-forward meal.”</p>

        </div>

        <div class="article-block">
            <div class="img-wrapper">
                <img src="/assets/static_images/articles/viranllys-korean-rice-bowl/ingredients.jpg" alt="">
            </div>
            <p>
                "I created this recipe with a helping hand from <a href="https://www.mealsthatmatter.com">Meals That Matter</a>, which is a all in one
                meal planning tool. Having a meal planning service reduced the stress level of weeknight cooking.
                Especially when the recipes are listing the ingredients that are readily available in my pantry.
                Moreover, having the ability to easily scale up the portion, just in case I have guests, is so
                convenient."
            </p>

        </div>
        <div class="instructions-block article-block">
            <div class="heading">
                <div class="title">
                    Korean Rice Bowl Recipe
                </div>
                <div class="servings-wrapper">
                    <div>4 Servings</div>
                    <div><span>Prep Time:</span> 15 minutes <span>Cook Time:</span>1 hour</div>
                </div>
            </div>
            <div class="ingredients">
                <div class="subtitle">
                    quick veggie pickles
                </div>
                <div class="ingredient">
                    <span class="ingredient-amount">250 mL 1 cup</span>
                    <span class="ingredient-description">rice wine vinegar</span>
                </div>
                <div class="ingredient">
                    <span class="ingredient-amount">250 mL 1 cup</span>
                    <span class="ingredient-description">water</span>
                </div>
                <div class="ingredient">
                    <span class="ingredient-amount">15 mL 1 Tbsp.</span>
                    <span class="ingredient-description">sugar</span>
                </div>
                <div class="ingredient">
                    <span class="ingredient-amount">15 mL 1 Tbsp.</span>
                    <span class="ingredient-description">salt</span>
                </div>
                <div class="ingredient">
                    <span class="ingredient-amount">1</span>
                    <span class="ingredient-description">carrot, julienned</span>
                </div>
                <div class="ingredient">
                    <span class="ingredient-amount">1</span>
                    <span class="ingredient-description">cucumber, julienned</span>
                </div>
                <div class="subtitle">
                    rice bowl
                </div>
                <div class="ingredient">
                    <span class="ingredient-amount">250 mL 1 cup</span>
                    <span class="ingredient-description">brown rice</span>
                </div>
                <div class="ingredient">
                    <span class="ingredient-amount">5mL 1 tsp</span>
                    <span class="ingredient-description">Knorr Selects™ Vegetable Bouillon or Knorr Selects™ Chicken
                        Bouillon</span>
                </div>
                <div class="ingredient">
                    <span class="ingredient-amount">30 mL 2 Tbsp.</span>
                    <span class="ingredient-description">Knorr® Korean BBQ Seasoning Blend</span>
                </div>
                <div class="ingredient">
                    <span class="ingredient-amount">30 mL 2 Tbsp.</span>
                    <span class="ingredient-description">Hellmann's® Real Mayonnaise</span>
                </div>
                <div class="ingredient">
                    <span class="ingredient-amount"> 2 in./5 cm</span>
                    <span class="ingredient-description">fresh ginger, grated on a microplane</span>
                </div>
                <div class="ingredient">
                    <span class="ingredient-amount"> 4 cloves</span>
                    <span class="ingredient-description">garlic, grated on a microplane</span>
                </div>
                <div class="ingredient">
                    <span class="ingredient-amount"> 1 package (454 g)</span>
                    <span class="ingredient-description">extra firm tofu, cut into 1-in. cubes and patted dry</span>
                </div>
                <div class="ingredient">
                    <span class="ingredient-amount"> 1 </span>
                    <span class="ingredient-description">Japanese eggplant, sliced lengthwise</span>
                </div>
                <div class="subtitle">
                    gochujang mayo
                </div>
                <div class="ingredient">
                    <span class="ingredient-amount"> 90 mL 6 Tbsp.</span>
                    <span class="ingredient-description">Hellmann's® Real Mayonnaise</span>
                </div>
                <div class="ingredient">
                    <span class="ingredient-amount"> 15 1 Tbsp.</span>
                    <span class="ingredient-description">gochujang hot pepper paste</span>
                </div>
                <div class="ingredient">
                    <span class="ingredient-amount"> 1 clove </span>
                    <span class="ingredient-description">garlic, grated on a microplane</span>
                </div>
            </div>
            <div class="instructions">
                <div class="instruction">
                    <div class='instruction-step'>
                        <span>1</span></div>
                    <span class="instruction-description">
                        For Quick Veggie Pickles, bring vinegar, water, sugar and salt to a boil in medium saucepan.
                        Simmer until sugar dissolves. Pour into medium bowl; add carrot and cucumber and let stand 1
                        hour.
                    </span>
                </div>
                <div class="instruction">
                    <div class='instruction-step'>
                        <span>2</span></div>
                    <span class="instruction-description">
                        For Rice Bowl, cook brown rice according to package directions adding Knorr Selects™ Vegetable
                        Bouillon to cooking water.
                    </span>
                </div>
                <br />
                <div class="img-wrapper">
                    <img src="/assets/static_images/articles/yiayias-greek-pastitsio/meat-sauce.jpg" alt="">
                </div>
                <br />
                <div class="instruction">
                    <div class='instruction-step'>
                        <span>3</span></div>
                    <span class="instruction-description">
                        Meanwhile, preheat oven to 400°F (200°C). Combine Knorr® Korean BBQ Seasoning Blend, Hellmann's®
                        Real Mayonnaise, ginger and garlic in small bowl, adding a little water if need to form a paste.
                        Coat tofu and eggplant with mixture and roast, 25 minutes or until eggplant is tender.
                    </span>
                </div>
                <div class="instruction">
                    <div class='instruction-step'>
                        <span>4</span></div>
                    <span class="instruction-description">
                        For Gochujang Mayo, combine Hellmann's® Real Mayonnaise, gochujang and garlic in small bowl.
                        Spoon rice, tofu and eggplant mixture and Pickled Veggies into bowls and drizzle evenly with
                        Gochujang Mayo. Garnish, if desired, with toasted sesame seeds, roasted seaweed and sliced green
                        onions.
                    </span>
                </div>
            </div>
        </div>
        <div class="article-button-wrapper">
            <a href='https://www.mealsthatmatter.com/recipes/Korean-Rice-Bowl-216538' mat-flat-button class='article-button uppercase'>see recipe</a>
        </div>
    </div>
    <div class="sub-footer">
    </div>
    <div class='footer'></div>
</div>