<div class="mobile-menu">
  <div class="menu-toolbar">
    <button aria-label="Close menu" mat-icon-button (click)="closeMobileMenu('', '')">
      <mat-icon>menu</mat-icon>
    </button>
    <a routerLink='/' queryParamsHandling='preserve' (click)="closeMobileMenu('HOME', '/')" class="logo">
      <img alt="Favourite icon" src="/assets/static_images/MTM_Favicon_4c_2.svg">
    </a>
    <button aria-label="Close menu" mat-icon-button class='close-button' (click)="closeMobileMenu('HOME', '/')">
      <mat-icon>close</mat-icon>
    </button>
  </div>
  <div class="auth-section" *ngIf='!loggedIn'>
    <button mat-flat-button color='primary' (click)='promptUserForAuth()' i18n class='uppercase'>register</button>
    <div class="sign-in-btn-wrapper">
      <small i18n>Already have an account?</small>
      <button mat-flat-button class='sign-in-button' (click)='promptUserForAuth()' i18n class='uppercase'>sign in</button>
    </div>
  </div>
  <div class="auth-section" *ngIf='loggedIn'>
    <button mat-flat-button color='primary' routerLink='/profile' queryParamsHandling='preserve'
      (click)='closeMobileMenu("Profile", "/profile")' i18n class='uppercase'>my account
    </button>
  </div>

  <div class="bottom-wrapper">
    <mat-nav-list class='menu-list'>
      <a *ngFor="let page of menuPages" class='page-item uppercase' mat-list-item [class.active]='page.active'
        [routerLink]='page.route' queryParamsHandling='preserve'
        [class.spacer]="page.route == '/articles'"
        [fragment]="page.route === '/about' ? 'howitworks' : ''" (click)="closeMobileMenu(page.name, page.route)">
        {{page.name}}

      </a>
      <a *ngIf='loggedIn' class='page-item sign-out-item uppercase' mat-list-item (click)="signOut()" i18n>
        sign out
      </a>
    </mat-nav-list>
  </div>
</div>