<div class="mobile-menu">
  <div class="menu-toolbar">
    <button aria-label="Close menu" mat-icon-button (click)="closeMobileMenu('', '')">
      <mat-icon>menu</mat-icon>
    </button>
    <a routerLink='/' (click)="closeMobileMenu('HOME', '/')" class="logo">
      <img alt="Favorite icon" src="/assets/static_images/MTM_Favicon_4c_2.svg">
    </a>
    <button aria-label="Close menu" mat-icon-button class='close-button' (click)="closeMobileMenu('HOME', '/')">
      <mat-icon>close</mat-icon>
    </button>
  </div>
  <div class="auth-section" *ngIf='!loggedIn'>
    <button mat-flat-button color='primary' (click)='promptUserForAuth()'>REGISTER</button>
    <div class="sign-in-btn-wrapper">
      <small>Already have an account?</small>
      <button mat-flat-button class='sign-in-button' (click)='promptUserForAuth()'>SIGN IN</button>
    </div>
  </div>
  <div class="auth-section" *ngIf='loggedIn'>
    <button mat-flat-button color='primary' routerLink='/profile' (click)='closeMobileMenu("Profile", "/profile")'>MY ACCOUNT</button>

  </div>
  <mat-nav-list *ngIf='loggedIn' class='menu-list'>
    <a *ngFor="let page of authenticatedPages" class='page-item' mat-list-item [class.active]='page.active'
      [routerLink]='page.route' 
      (click)="closeMobileMenu(page.name, page.route)">
      {{page.name}}
    </a>
  </mat-nav-list>
  <div class="bottom-wrapper">
    <mat-nav-list class='menu-list'>
      <a *ngFor="let page of menuPages" class='page-item' mat-list-item [class.active]='page.active'
        [routerLink]='page.route' [fragment]="page.route === '/about' ? 'howitworks' : ''"
        (click)="closeMobileMenu(page.name, page.route)">
        {{page.name}}
      </a>
      <a *ngIf='loggedIn' class='page-item sign-out-item' mat-list-item
        (click)="signOut()">
        SIGN OUT
      </a>
    </mat-nav-list>
  </div>
</div>