<div class="article-page">
    <div class="header">
    </div>
    <div class='sub-header'></div>
    <div class="content">
        <div class="heading">
            <div class="title">
                Travel the World from <br /> your Kitchen with Meals That Matter <br /> & Jacky’s Deviled Egg’s Recipe
            </div>
            <div class="underline"></div>
            <div class="author">
                By Jacky Yoh, @theeverydayfoodie
            </div>
        </div>
        <div class="article-block">
            <div class="img-wrapper">
                <img src="/assets/static_images/articles/jackys-deviled-eggs/finished-dish.jpeg" alt="">
            </div>
            <p>“Time is our most valuable resource. It’s precious. It’s something we can’t ever get back, and some days
                there just never seems to be enough of it.”</p>
            <p>“For many like myself I find the biggest time waster is often in the kitchen. First, I’m just trying to
                figure out what I want to eat. Then it comes finding a recipe I could possibly use, buying the
                ingredients at the grocery store, and then coming back home to start prepping the ingredients. Before
                you know it, hours passed by and I end up re-heating a frozen pizza in the oven because it just became
                the easiest thing to do. No matter how hard I try to re-energize my creative cooking juices and try a
                new recipe at home, often the lazy gene just kicks in and I revert back to old habits…aka… leftovers and
                microwaveable dinners!” </p>
        </div>
        <div class="article-block">
            <div class="img-wrapper">

                <img src="/assets/static_images/articles/jackys-deviled-eggs/ingredients.jpeg" alt="">
            </div>
            <p>
                “If you can even remotely relate to any of that, just know that you are not alone! I was one of those
                people and admittedly will still sometimes indulge in a frozen pizza or two, but I’m excited to tell you
                that I recently learned about a revolutionary way to make meal planning, grocery shopping, and cooking a
                wide array of diverse and delicious recipes so much easier and pain free, enter <a href="https://mealsthatmatter.com">Meals That Matter</a> . The
                best part of it all is it involves my wanderlust tendencies of wanting to travel the world and try out
                as many types of worldly cuisines as possible. There’s only so many times one can eat frozen pizza for
                dinner a week, and with my past travels to Italy a few years ago, the memory of eating the finest
                Italian cuisine in the world made me want to re-create it back at home.”
            </p>
            <div class="article-button-wrapper">
                <a href="https://mealsthatmatter.com/auth/login" mat-flat-button class='article-button uppercase'>sign up today for free</a>
            </div>
            <p>“So, here is what you need to know. <a href="https://mealsthatmatter.com">Mealsthatmatter.com</a> is a game changer, seriously! It’s as easy as
                just logging into their intuitive website which has now become my meal planning and grocery delivery
                tool all-in-one. Once you log into their website you then choose a wide selection of delicious
                step-by-step recipes you can add to your personalized meal planner, and then literally shop for all the
                necessary ingredients to make it. As you can imagine, the best part of it all is you don’t even have to
                leave your home because those groceries will be delivered straight to your door. A game changer and
                time-saver!” </p>
        </div>
        <div class="article-block">
            <div class="img-wrapper">

                <img src="/assets/static_images/articles/jackys-deviled-eggs/browsing-mtm.jpeg" alt="">
            </div>

            <p>“My absolute favourite part of using <a href="https://mealsthatmatter.com">Meals That Matter</a> is just the sheer variety of recipes at my
                disposal. From Asian to Italian, Mexican, and Indian to name a few, I feel like I’m travelling the world
                just from my very own kitchen as I divulge into new and exotic flavours I was not familiar with before
                and too intimidated to try. With my passion for food and travel, this is the perfect vessel for me to
                pursue big, global flavours in my daily cooking routine at home. It was like traveling to Tel Aviv for
                the first time while I made shakshuka, back to Rome with a four-cheese risotto, or to my birthplace of
                Hong Kong with an orange chicken stir-fry. All simple and delicious recipes found on the platform.” </p>
            <div class="article-button-wrapper">

                <a href="https://mealsthatmatter.com/recipes/discover" mat-flat-button class='article-button uppercase'>start exploring recipes</a>
            </div>
            <p>“With all that food and travel inspiration found at <a href="https://mealsthatmatter.com">mealsthatmatter.com</a> , it was a true honour when I
                was also asked to share one of my own personal favourite recipes that has been a staple in my family.”
            </p>
            <p>“Eggs have always been one of my favourite things to eat. Whether it comes poached, scrambled, or
                sunny-side-up, I welcome it served every which way. Growing up in a family that always loved
                entertaining guests, “Deviled Eggs” were almost always a dish that my mom would make every time we had
                anyone over. I think that’s probably why I loved having guests over all the time as a kid because it was
                almost a guarantee that a plate of Deviled Eggs would be served up on our dining table. And as to be
                expected, before the night was over, I would have indulged in at least a large handful all by myself!”
            </p>
        </div>
        <div class="article-block">
            <div class="img-wrapper">

                <img src="/assets/static_images/articles/jackys-deviled-eggs/finished-dish-3.jpeg" alt="">
            </div>
            <p>“The classic deviled eggs recipe is quite simple as it consists of really just a hard-boiled egg and
                mayonnaise. I just absolutely love the creamy egg texture piped onto the egg vessel, and nothing beats
                the simplicity of finger food. The trick that I’ve learned to get that perfect egg mixture is to use
                quality mayonnaise. I use Hellman’s Real Mayonnaise that are made with only cage-free eggs. Hellman’s is
                the only brand of mayonnaise you’ll find in my fridge actually. It’s the quality I trust and is the
                magic ingredient to making the best Deviled Eggs possible.” </p>
            <div class="img-wrapper">

                <img src="/assets/static_images/articles/jackys-deviled-eggs/finished-dish-2.jpeg" alt="">
            </div>
            <p>“In making this dish my own, I wanted to put a twist on the classic Deviled Eggs recipe and add some
                pizazz and personality to elevate the dish to the next level. My  <a href="https://www.mealsthatmatter.com/recipes/Jacky's-Beet-and-Avocado-Deviled-Eggs-216540">“Beet & Avocado Deviled Eggs” </a>
                uses cooked beets and fresh avocados to not only inject some colour into the dish, but add some great
                new textures and flavours to the creamy egg mixture that we all have come to know and love. These Beet &
                Avocado Deviled Eggs are the perfect bite size appetizers to serve up to your guests, and from personal
                experience they will all be gone before you even know it!” </p>
        </div>
        <div class="instructions-block article-block">
            <div class="heading">
                <div class="title">
                    Beet & Avacado Deviled Eggs
                </div>
                <div class="servings-wrapper">
                    <div>8 Servings</div>
                    <div><span>Prep Time:</span> 15 minutes <span>Cook Time:</span>30 minutes</div>
                </div>
            </div>
            <div class="ingredients">
                <div class="ingredient">
                    <span class="ingredient-amount">8</span>
                    <span class="ingredient-description">hard cooked eggs, halved lengthwise, yolks removed and set
                        aside</span>
                </div>
                <div class="ingredient">
                    <span class="ingredient-amount">1</span>
                    <span class="ingredient-description">cooked red beet</span>
                </div>
                <div class="ingredient">
                    <span class="ingredient-amount">60mL 1/4 cup</span>
                    <span class="ingredient-description">Hellmann's® Real Mayonnaise</span>
                </div>
                <div class="ingredient">
                    <span class="ingredient-amount">15 mL 1Tbsp</span>
                    <span class="ingredient-description">olive oil</span>
                </div>
                <div class="ingredient">
                    <span class="ingredient-amount">1</span>
                    <span class="ingredient-description">avocado, peeled and pitted</span>
                </div>
                <div class="ingredient">
                    <span class="ingredient-amount">2 cloves</span>
                    <span class="ingredient-description">peeled garlic</span>
                </div>
            </div>
            <div class="instructions">
                <div class="instruction">
                    <div class='instruction-step'>
                        <span>1</span></div>
                    <span class="instruction-description">
                        Blend egg yolks, beets, Hellmann's® Real Mayonnaise and olive oil in blender or food processor
                        until smooth and creamy, adding a little water if needed. Season with salt and pepper, if
                        desired. Remove to bowl and rinse blender or food processor.
                    </span>
                </div>
                <div class="instruction">
                    <div class='instruction-step'>
                        <span>2</span></div>
                    <span class="instruction-description">
                        Blend avocado, garlic, and salt to taste, if desired, in blender or food processor and until
                        smooth.
                    </span>
                </div>
                <div class="instruction">
                    <div class='instruction-step'>
                        <span>3</span></div>
                    <span class="instruction-description">
                        Transfer egg and beet mixture to zip-close food storage bag. Snip off one corner and pipe
                        into egg halves. Transfer avocado mixture into another bag; snip off one corner then pipe on top
                        of the beet mixture. Enjoy!
                    </span>
                </div>
            </div>
        </div>
        <div class="article-button-wrapper">
            <a href="https://www.mealsthatmatter.com/recipes/Jacky's-Beet-and-Avocado-Deviled-Eggs-216540" mat-flat-button class='article-button uppercase'>see recipe</a>
        </div>
    </div>
    <div class="sub-footer">
    </div>
    <div class='footer'></div>
</div>