<form [class]="isMobile ? 'mobile-change-password-container' : 'change-password-container'" [formGroup]='securityForm'
  (ngSubmit)="changePassword()">
  <mat-form-field>
    <mat-icon matPrefix>lock_open</mat-icon>
    <input matInput type="password" i18n-placeholder placeholder='password' formControlName='password' required>
  </mat-form-field>
  <mat-form-field>
    <mat-icon matPrefix>lock_open</mat-icon>
    <input matInput type="password" i18n-placeholder placeholder='new password' formControlName='newPassword' required>
    <mat-error>Password needs a minimum of 6 characters.</mat-error>
  </mat-form-field>
  <mat-form-field>
    <mat-icon matPrefix>lock_open</mat-icon>
    <input matInput type="password" i18n-placeholder placeholder='verify password' formControlName='confirmPassword' required>
    <mat-error *ngIf='securityForm.get("confirmPassword").hasError("mustMatch")'>Passwords must match</mat-error>
  </mat-form-field>
  <button aria-label="Update password" type="submit" class='save-button' mat-flat-button [disabled]="!securityForm.valid" i18n>update password</button>
</form>