@use "../../../scss/variables";

.change-password-container {
  display: flex;
  flex-direction: column;
  width: 50%;
  margin: 1em auto;
  mat-icon {
    margin-right: 1em;
  }
}
.mobile-change-password-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  mat-icon {
    margin-right: 1em;
  }
}
.mat-form-field-label {
  font-family: Arial !important;
}

.save-button {
  color: variables.$mtm_dark_green_color;
  background-color: variables.$mtm_grey;
  width: 50%;
  margin: 4em auto 1em auto;
}
