@import "../../../scss/customTheme.scss";

.change-password-container {
  display: flex;
  flex-direction: column;
  width: 50%;
  margin: 1em auto;
  mat-icon {
    margin-right: 1em;
  }
}
.mobile-change-password-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  mat-icon {
    margin-right: 1em;
  }
}
.mat-form-field-label {
  font-family: flavour !important;
}

.save-button {
  color: $mtm_dark_green_color;
  background-color: $darker_beige;
  width: 50%;
  margin: 4em auto 1em auto;
}
