<div class="login-wrapper">
  <p class='header'>You're one step away from exploring 500+ recipes from around the world.
  </p>
  <div class="register-container">
    <h2>REGISTER</h2>
    <form (ngSubmit)='emitRegister()' class="register-form" [formGroup]='emailForm'>

      <mat-form-field>
        <mat-icon matPrefix class='prefix-icon'>email</mat-icon>
        <input matInput type="email" placeholder='Email (required)' formControlName='email' required>
        <mat-icon matSuffix matTooltip='This must be a valid email address.'>info_outline</mat-icon>
      </mat-form-field>
      <button aria-label="Create my account" mat-flat-button color='primary' [disabled]='!emailForm.valid'>CREATE MY ACCOUNT</button>
    </form>
  </div>
  <form class='auth-form' [formGroup]='loginForm' (ngSubmit)='emitLogin()'>
    <div class="sign-in-wrapper">
      <h2>SIGN IN</h2>
      <mat-form-field>
        <mat-icon matPrefix class='prefix-icon'>email</mat-icon>
        <input matInput type="email" placeholder='Email (required)' #signInUsername formControlName='email' required>
        <mat-icon matSuffix matTooltip='This must be a valid email address.'>info_outline</mat-icon>
      </mat-form-field>
      <mat-form-field>
        <mat-icon matPrefix class='prefix-icon'>lock_open</mat-icon>
        <input matInput type="password" placeholder='Password (required)' #signInPassword formControlName='password' required>
        <mat-icon matSuffix matTooltip='Please enter a combination of at least 8 letters, numbers or symbols (!,@...)'>
          info_outline</mat-icon>
      </mat-form-field>
      <button aria-label="Sign in" type="submit" mat-flat-button class='sign-in-button'>{{loading ? 'PROCESSING...' : 'SIGN IN'}}</button>
      <div class="login-action-row">
        <a class='forgot-button' mat-link-button (click)='emitForgotPassword()'>Forgot your password?</a>
        <p class='required-field'>* Required field</p>
      </div>
    </div>
    <div class="gif-wrapper" *ngIf='loading'>
      <img class='loading-text' src="/assets/static_images/Whisk-Stat-Transp.png" />
    </div>
  </form>

</div>