<div class="auth-container" >
    <div class="login-wrapper" *ngIf='activeRoute === "LOGIN"'>

        <app-login [loading]='loading' (forgotPassword)='viewForgotPassword()' [loginForm]='loginForm' (register)='viewRegister()' (login)='signIn($event)' [emailForm]='emailForm'></app-login>
    </div>
    <div class="register-wrapper" *ngIf='activeRoute === "REGISTER"'>
        <app-register (back)='viewLogin()' (signIn)='signIn($event)'></app-register>
    </div>
    <div class="forgot-password-wrapper" *ngIf='activeRoute === "FORGOT_PASSWORD"'>
        <app-forgot-password></app-forgot-password>
    </div>  

</div>