@import "../../../../scss/variables.scss";

.auth-container{
  height: 100vh;
  .auth-wrapper{
    padding: 1em;
    
    .auth-header{
      width: 75%;
      margin: auto;
      text-align: center;
    }
    .register-container{
      margin: 2em 0 2em 0;
    }
    .login-container{
  
    }
  }
}