@import "../../../../scss/variables.scss";
.cc-side-drawer-anchor {
  display: none;
}
.my-meals-page {
  height: calc(100% - 64px); // height subrating toolbar
  min-height: calc(100vh - 64px); // height subrating toolbar (landscape)
  display: flex;
  flex-direction: column;
  background-color: $mtm_white;
  position: relative;
  z-index: 1;
}
.mobile-my-meals-page {
  height: calc(100% - 40px); // height subrating toolbar
  min-height: calc(100vh - 40px); // height subrating toolbar (landscape)
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: $mtm_white;
}
.copy {
  text-align: center;
  p{
    margin: unset;
  }
  h1{
    margin-bottom: 4px;
  }

}
.my-meals-subheader {
  text-align: center;
  width: 75%;
  margin: 1em auto;
}
.no-favourites {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  
  h2{
    margin-top: unset;
    margin-bottom: 4px;
  }
  padding: 1em;
  mat-icon{
    color: $mtm_dark_green_color;
    transform: scale(2)
  }
  p{
    text-align: center;
    margin: unset;
  }
}

.button-wrapper{
  display: flex;
  justify-content: center;
  width: 100%;
  margin-top: 1em;
  button{
      width: 300px;
  }
}
.add-meal-button {
  font-family: flavour;
  width: 50%;
  margin: auto;
}
.favourites-container {
  display: grid;
  justify-items: center;
  margin-top: 1em;
  grid-gap: 1em;
  .favourite-item {
    margin-bottom: 1em;
  }
}
.my-meals-action-buttons {
  display: grid;
  margin: auto;
  grid-template-rows: 1fr 1fr;
  grid-gap: 0.5em;
  padding: 0 1em 1em 1em;
}
.route-buttons{
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 0.5em;
  button{
    color: $mtm_dark_green_color !important;
    background-color: $mtm_grey !important;
  }
}
.save-meal-plan-button {
  color: $mtm_dark_green_color !important;
  background-color: $mtm_grey !important;
}

*:focus {
  outline: 0;
  outline: none;
}
