<div class="faq-page">
    <div class="faq-copy">
        <h2>Have Some Questions?</h2>
        <h1><a href="https://www.youtube.com/watch?v=sfGbvNX3Y9o&feature=youtu.be" target="_blank">Watch Our Quick
                Demo</a>
        </h1>
    </div>
    <div class="faq-accordion">
        <mat-accordion class="faq-align">
            <mat-expansion-panel (closed)="panelOpenState = false" hideToggle>
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        <mat-icon>question_answer</mat-icon>
                        How do I build my meal plan?
                    </mat-panel-title>
                    <mat-panel-description>
                        <button aria-label="Expand accordion" mat-icon-button>
                            <mat-icon>add</mat-icon>
                        </button>
                    </mat-panel-description>
                </mat-expansion-panel-header>
                <p class='faq-description'>Easy! From the home page, click ‘start’ and you’ll be directed to the ‘Select
                    Meals’ page. This is where you’ll start browsing through our collection of delicious chef-curated
                    recipes.
                </p>
                <p class='faq-description'>To add a meal to your meal plan, simply click the green ‘+ Add to Meal Plan’
                    button below the recipe. And to see your Meal Plan, click on ‘View Meal Plan’ at the bottom of the
                    page.
                </p>
                <p class='faq-description'><b>PS: </b>You can always find these pages at the top of the navigation bar
                    or the
                    side menu if you’re on your phone.</p>
            </mat-expansion-panel>
        </mat-accordion>
        <mat-accordion class="faq-align">
            <mat-expansion-panel (closed)="panelOpenState = false" hideToggle>
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        <mat-icon>question_answer</mat-icon>
                        How do I add a recipe to my favourite list of recipes?
                    </mat-panel-title>
                    <mat-panel-description>
                        <button aria-label="Expand accordion" mat-icon-button>
                            <mat-icon>add</mat-icon>
                        </button>
                    </mat-panel-description>
                </mat-expansion-panel-header>
                <p class='faq-description'>First, click on the little heart icon on the top right corner of the recipe
                    image. Second, to see the recipes you’ve previously added to your favourites, click ‘Favourites’ in
                    the top navigation or the side menu if you’re on your phone.
                </p>
            </mat-expansion-panel>
        </mat-accordion>
        <mat-accordion class="faq-align">
            <mat-expansion-panel (closed)="panelOpenState = false" hideToggle>
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        <mat-icon>question_answer</mat-icon>
                        How do I see the recipe instructions?
                    </mat-panel-title>
                    <mat-panel-description>
                        <button aria-label="Expand accordion" mat-icon-button>
                            <mat-icon>add</mat-icon>
                        </button>
                    </mat-panel-description>
                </mat-expansion-panel-header>
                <p class='faq-description'>Click on the recipe name or image and the full recipe page will open as a
                    popup. Then you’ll find the cooking instructions in the tabs below the recipe image to the right of
                    the ‘Ingredients’ tab.
                </p>
            </mat-expansion-panel>
        </mat-accordion>
        <mat-accordion class="faq-align">
            <mat-expansion-panel (closed)="panelOpenState = false" hideToggle>
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        <mat-icon>question_answer</mat-icon>
                        Can I see detailed nutritional information?
                    </mat-panel-title>
                    <mat-panel-description>
                        <button aria-label="Expand accordion" mat-icon-button>
                            <mat-icon>add</mat-icon>
                        </button>
                    </mat-panel-description>
                </mat-expansion-panel-header>
                <p class='faq-description'>Yup! When you click on the recipe name or image, the full recipe page will
                    open as a popup. Then you’ll find nutrition facts in the tabs below the recipe image to the right of
                    the ‘Instructions’ tab.
                </p>
            </mat-expansion-panel>
        </mat-accordion>
        <mat-accordion class="faq-align">
            <mat-expansion-panel (closed)="panelOpenState = false" hideToggle>
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        <mat-icon>question_answer</mat-icon>
                        Is there an easier way for me to access this website to plan my meals?
                    </mat-panel-title>
                    <mat-panel-description>
                        <button aria-label="Expand accordion" mat-icon-button>
                            <mat-icon>add</mat-icon>
                        </button>
                    </mat-panel-description>
                </mat-expansion-panel-header>
                <p class='faq-description'>Yes! You can add the Meals That Matter website to your phone’s home screen
                    just like an app.
                </p>
                <p class='faq-description'>For iOS, launch the Safari browser and go to Mealsthatmatter.com. Tap the
                    Share button, then scroll until you find the ‘Add to Home Screen’ button…and tap to download.
                </p>
                <p class='faq-description'>For Android, launch Chrome and go to Mealsthatmatter.com. Tap the menu
                    button, then tap ‘Add to Homescreen’.
                </p>
                <p class='faq-description'>Once downloaded, The Meals That Matter icon will appear on your home screen
                    for you to drag and place wherever you like.
                </p>
            </mat-expansion-panel>
        </mat-accordion>
        <mat-accordion class="faq-align">
            <mat-expansion-panel (closed)="panelOpenState = false" hideToggle>
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        <mat-icon>question_answer</mat-icon>
                        How much does this cost?
                    </mat-panel-title>
                    <mat-panel-description>
                        <button aria-label="Expand accordion" mat-icon-button>
                            <mat-icon>add</mat-icon>
                        </button>
                    </mat-panel-description>
                </mat-expansion-panel-header>
                <p class='faq-description'>We’re pleased to offer our service free of charge! At Meals That Matter, we
                    have a mission to help Canadians reclaim weeknight cooking, and we hope that our website helps you
                    do just that.
                </p>
                <p class='faq-description'>Of course, you’ll still have to pay for your groceries! Those prices and
                    delivery charges (if applicable) are determined by the retailer you choose to shop with.
                </p>
            </mat-expansion-panel>
        </mat-accordion>
        <mat-accordion class="faq-align">
            <mat-expansion-panel (closed)="panelOpenState = false" hideToggle>
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        <mat-icon>question_answer</mat-icon>
                        Are there gluten free/vegetarian/vegan/low calorie/under 30-minute recipes?
                    </mat-panel-title>
                    <mat-panel-description>
                        <button aria-label="Expand accordion" mat-icon-button>
                            <mat-icon>add</mat-icon>
                        </button>
                    </mat-panel-description>
                </mat-expansion-panel-header>
                <p class='faq-description'>Short answer: Yes. And the best way to learn about these recipes is to use
                    the search feature on the ‘Select Meals’ page. We have over 500 recipes that span across categories
                    like:</p>
                <ul class='faq-description'>
                    <li>Plant Based</li>
                    <li>Meatless Options</li>
                    <li>Gluten free</li>
                    <li>Better for You</li>
                    <li>30 Minutes or Less</li>
                    <li>Main Ingredient-based (Beef, Chicken, Pasta, Pork, Seafood)</li>
                </ul>

                <p class='faq-description'>We are always improving and adding to our recipe collection so stay tuned for
                    more dietary options.
                </p>
            </mat-expansion-panel>
        </mat-accordion>
        <mat-accordion class="faq-align">
            <mat-expansion-panel (closed)="panelOpenState = false" hideToggle>
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        <mat-icon>question_answer</mat-icon>
                        Can I purchase my meal plan online?
                    </mat-panel-title>
                    <mat-panel-description>
                        <button aria-label="Expand accordion" mat-icon-button>
                            <mat-icon>add</mat-icon>
                        </button>
                    </mat-panel-description>
                </mat-expansion-panel-header>
                <p class='faq-description'>If you live in Ontario, you may be able to purchase your meal plan online
                    through Metro online grocery. Visit <a href="https://www.metro.ca/en/online-grocery"
                        target="_blank">www.metro.ca/en/online-grocery</a> to find out if they have pickup or
                    delivery in your area.
                </p>
                <p class='faq-description'>If you live outsite of Ontario, stay tuned! We are always working on
                    improving our service.
                </p>
            </mat-expansion-panel>
        </mat-accordion>
        <mat-accordion class="faq-align">
            <mat-expansion-panel (closed)="panelOpenState = false" hideToggle>
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        <mat-icon>question_answer</mat-icon>
                        Is membership required in order to create a meal plan/shop?
                    </mat-panel-title>
                    <mat-panel-description>
                        <button aria-label="Expand accordion" mat-icon-button>
                            <mat-icon>add</mat-icon>
                        </button>
                    </mat-panel-description>
                </mat-expansion-panel-header>
                <p class='faq-description'>Nope! If you’re not a member you can still create a meal plan, but in order
                    to save your meal plans for later and see them on different devices, you have to be a member.
                </p>
                <p class='faq-description'>If you’re not a member, closing your browser session with us can result in
                    losing any previous activity you’ve made on the site. So be on the safe side and create a profile
                    with us now!
                </p>
            </mat-expansion-panel>
        </mat-accordion>
        <mat-accordion class="faq-align">
            <mat-expansion-panel (closed)="panelOpenState = false" hideToggle>
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        <mat-icon>question_answer</mat-icon>
                        Can I view by category like breakfast/lunch/dinner; or appetizer/side dish/main dish?
                    </mat-panel-title>
                    <mat-panel-description>
                        <button aria-label="Expand accordion" mat-icon-button>
                            <mat-icon>add</mat-icon>
                        </button>
                    </mat-panel-description>
                </mat-expansion-panel-header>
                <p class='faq-description'>Yes! You can find those categories easily by searching on the ‘Select Meals’
                    page.
                </p>
            </mat-expansion-panel>
        </mat-accordion>
        <mat-accordion class="faq-align">
            <mat-expansion-panel (closed)="panelOpenState = false" hideToggle>
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        <mat-icon>question_answer</mat-icon>
                        My grocery list includes every ingredient in the recipes, including staples I already have
                        like flour, spices, and seasonings. Is there a way to edit my grocery list to remove staples?
                    </mat-panel-title>
                    <mat-panel-description>
                        <button aria-label="Expand accordion" mat-icon-button>
                            <mat-icon>add</mat-icon>
                        </button>
                    </mat-panel-description>
                </mat-expansion-panel-header>
                <p class='faq-description'>If you choose to shop your grocery list online, your items will be sent to
                    the grocery cart on the retailer website. From there, you can remove items you already have before
                    you checkout.
                </p>
                <p class='faq-description'>If you choose to shop in-store, you can check off items to indicate that you
                    already have them. Unfortunately you are not able to remove these items completely at this time.
                    However, we’re also looking to improve our service!
                </p>
            </mat-expansion-panel>
        </mat-accordion>
    </div>
</div>
<br>
<!-- <div class="scroll-to-top-button-wrapper">
    <button aria-label="Scroll back to top" class='scroll-button' mat-mini-fab (click)='scrollToTop()'>
        <mat-icon>expand_less</mat-icon>
    </button>
</div> -->