<div class="faq-page">
    <div class="faq-copy">
        <h2 i18n>Have Some Questions?</h2>
        <!-- <h1><a (click)='track()' href="https://www.youtube.com/watch?v=sfGbvNX3Y9o&feature=youtu.be" target="_blank">Watch Our Quick
                Demo</a>
        </h1> -->
    </div>
    <div class="faq-accordion">
        <mat-accordion class="faq-align">
            <mat-expansion-panel (closed)="panelOpenState = false" hideToggle>
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        <mat-icon>question_answer</mat-icon>
                        <span i18n>
                            Can I purchase my meal plan online?
                        </span>
                    </mat-panel-title>
                    <mat-panel-description>
                        <button aria-label="Expand accordion" mat-icon-button>
                            <mat-icon>add</mat-icon>
                        </button>
                    </mat-panel-description>
                </mat-expansion-panel-header>
                <p class='faq-description'>If you live in Ontario, you may be able to purchase your meal plan online
                    through Metro online grocery. Visit <a href="https://www.metro.ca/en/online-grocery"
                        target="_blank">www.metro.ca/en/online-grocery</a> to find out if they have pickup or
                    delivery in your area*
                    <br />
                    If you live in BC, you may be able to purchase your meal plan online through Save on Foods online
                    grocery. Visit
                    <a href="https://www.saveonfoods.com/shop-online-how-it-works/#" target="_blank">
                        https://www.saveonfoods.com/shop-online-how-it-works/#
                    </a>
                    To find out if they have pickup or delivery
                    in your area*
                    <br />
                    If you live outsite of Ontario or BC, stay tuned! We are always working on
                    improving our service.
                </p>
                <small class="faq-description" i18n>
                    *Due to COVID-19 there is higher than normal volume on grocery delivery right now, therefore
                    delivery times may be impacted through Metro & Save on Foods.
                </small>
            </mat-expansion-panel>
        </mat-accordion>
        <mat-accordion class="faq-align">
            <mat-expansion-panel (closed)="panelOpenState = false" hideToggle>
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        <mat-icon>question_answer</mat-icon>
                        <span i18n>
                            How do I build my meal plan?
                        </span>
                    </mat-panel-title>
                    <mat-panel-description>
                        <button aria-label="Expand accordion" mat-icon-button>
                            <mat-icon>add</mat-icon>
                        </button>
                    </mat-panel-description>
                </mat-expansion-panel-header>
                <p class='faq-description' i18n>Easy! From the home page, click 'get started', and make sure you have
                    registered. You’ll then be directed to the ‘Select
                    Recipes’ page. This is where you’ll start browsing through our collection of delicious recipes.
                    <br />
                    To add a meal to your meal plan, simply click the green ‘+’
                    button on the top right of the recipe. To see your Meal Plan, click on green next button on the
                    select recipes page.
                    <br />
                    <b>PS: </b>You can always find these pages on the progress bar
                    or the
                    side menu if you’re on your phone.</p>
            </mat-expansion-panel>
        </mat-accordion>
        <mat-accordion class="faq-align">
            <mat-expansion-panel (closed)="panelOpenState = false" hideToggle>
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        <mat-icon>question_answer</mat-icon>
                        <span i18n>
                            How do I add a recipe to my favourite list of recipes?
                        </span>
                    </mat-panel-title>
                    <mat-panel-description>
                        <button aria-label="Expand accordion" mat-icon-button>
                            <mat-icon>add</mat-icon>
                        </button>
                    </mat-panel-description>
                </mat-expansion-panel-header>
                <p class='faq-description' i18n>First, click on the little heart icon on the bottom left corner of the
                    recipe
                    image. Second, to see the recipes you’ve previously added to your favourites, click ‘Favourites’ in
                    the side menu on your phone or the navigation bar on desktop.
                </p>
            </mat-expansion-panel>
        </mat-accordion>
        <mat-accordion class="faq-align">
            <mat-expansion-panel (closed)="panelOpenState = false" hideToggle>
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        <mat-icon>question_answer</mat-icon>
                        <span i18n>
                            How do I see the recipe instructions?
                        </span>
                    </mat-panel-title>
                    <mat-panel-description>
                        <button aria-label="Expand accordion" mat-icon-button>
                            <mat-icon>add</mat-icon>
                        </button>
                    </mat-panel-description>
                </mat-expansion-panel-header>
                <p class='faq-description' i18n>Click on the recipe name or image and the full recipe page will open as
                    a
                    popup. Then you’ll find the cooking instructions in the tabs below the recipe image to the right of
                    the ‘Ingredients’ tab.
                </p>
            </mat-expansion-panel>
        </mat-accordion>
        <mat-accordion class="faq-align">
            <mat-expansion-panel (closed)="panelOpenState = false" hideToggle>
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        <mat-icon>question_answer</mat-icon>
                        <span i18n>
                            Can I see detailed nutritional information?
                        </span>
                    </mat-panel-title>
                    <mat-panel-description>
                        <button aria-label="Expand accordion" mat-icon-button>
                            <mat-icon>add</mat-icon>
                        </button>
                    </mat-panel-description>
                </mat-expansion-panel-header>
                <p class='faq-description' i18n>Yep! When you click on the recipe name or image, the full recipe page
                    will
                    open as a popup. Then you’ll find nutrition facts in the tabs below the recipe image to the right of
                    the ‘Instructions’ tab.
                </p>
            </mat-expansion-panel>
        </mat-accordion>
        <mat-accordion class="faq-align">
            <mat-expansion-panel (closed)="panelOpenState = false" hideToggle>
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        <mat-icon>question_answer</mat-icon>
                        <span i18n>
                            Is there an easier way for me to access this website to plan my meals?
                        </span>
                    </mat-panel-title>
                    <mat-panel-description>
                        <button aria-label="Expand accordion" mat-icon-button>
                            <mat-icon>add</mat-icon>
                        </button>
                    </mat-panel-description>
                </mat-expansion-panel-header>
                <p class='faq-description' i18n>Yes! You can add the Meals That Matter website to your phone’s home
                    screen
                    just like an app.
                    <br /> For iOS, launch the Safari browser and go to Mealsthatmatter.com. Tap the
                    Share button, then scroll until you find the ‘Add to Home Screen’ button…and tap to download.
                    <br />For Android, launch Chrome and go to Mealsthatmatter.com. Tap the menu
                    button, then tap ‘Add to Homescreen’.
                    <br />>Once downloaded, The Meals That Matter icon will appear on your home screen
                    for you to drag and place wherever you like.
                </p>
            </mat-expansion-panel>
        </mat-accordion>
        <mat-accordion class="faq-align">
            <mat-expansion-panel (closed)="panelOpenState = false" hideToggle>
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        <mat-icon>question_answer</mat-icon>
                        <span i18n>
                            How much does this cost?
                        </span>
                    </mat-panel-title>
                    <mat-panel-description>
                        <button aria-label="Expand accordion" mat-icon-button>
                            <mat-icon>add</mat-icon>
                        </button>
                    </mat-panel-description>
                </mat-expansion-panel-header>
                <p class='faq-description' i18n>We’re pleased to offer our service free of charge! At Meals That Matter,
                    we
                    have a mission to help Canadians reclaim weeknight cooking, and we hope that our website helps you
                    do just that.
                    <br />Of course, you’ll still have to pay for your groceries! Those prices and
                    delivery charges (if applicable) are determined by the retailer you choose to shop with.
                </p>
            </mat-expansion-panel>
        </mat-accordion>
        <mat-accordion class="faq-align">
            <mat-expansion-panel (closed)="panelOpenState = false" hideToggle>
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        <mat-icon>question_answer</mat-icon>
                        <span i18n>
                            Are there Italian/Asian/30 minutes or less recipes?
                        </span>
                    </mat-panel-title>
                    <mat-panel-description>
                        <button aria-label="Expand accordion" mat-icon-button>
                            <mat-icon>add</mat-icon>
                        </button>
                    </mat-panel-description>
                </mat-expansion-panel-header>
                <p class='faq-description' i18n>Yes… and more 😊 The best way to explore these recipes is to use the
                    filter
                    feature on the ‘Select Recipes’ page. We have over 500 recipes that span across multiple recipe
                    categories.

                    <br />We are always improving and adding to our recipe collection so stay tuned for
                    more dietary options.
                </p>
            </mat-expansion-panel>
        </mat-accordion>

        <mat-accordion class="faq-align">
            <mat-expansion-panel (closed)="panelOpenState = false" hideToggle>
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        <mat-icon>question_answer</mat-icon>
                        <span i18n>
                            Is membership required in order to create a meal plan/shop?
                        </span>
                    </mat-panel-title>
                    <mat-panel-description>
                        <button aria-label="Expand accordion" mat-icon-button>
                            <mat-icon>add</mat-icon>
                        </button>
                    </mat-panel-description>
                </mat-expansion-panel-header>
                <p class='faq-description' i18n>Yes. In order to create and shop a meal plan you will need to have an
                    account
                    with us. To create a new account simply click the ‘get started’ button on our homepage and then fill
                    out your details to register.
                    <br />
                    Once registered, you will have access to 500+ recipes with new recipes being
                    added all the time as well as exclusive offers and the ability to simply shop your meal plan online
                    or instore.

                </p>
            </mat-expansion-panel>
        </mat-accordion>
        <mat-accordion class="faq-align">
            <mat-expansion-panel (closed)="panelOpenState = false" hideToggle>
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        <mat-icon>question_answer</mat-icon>
                        <span i18n>

                            Can I view by category like breakfast, brunch, dinner?
                        </span>
                    </mat-panel-title>
                    <mat-panel-description>
                        <button aria-label="Expand accordion" mat-icon-button>
                            <mat-icon>add</mat-icon>
                        </button>
                    </mat-panel-description>
                </mat-expansion-panel-header>
                <p class='faq-description' i18n>Yes! You can find those categories easily by filtering on the ‘Select
                    Recipes'
                    page.
                </p>
            </mat-expansion-panel>
        </mat-accordion>
        <mat-accordion class="faq-align">
            <mat-expansion-panel (closed)="panelOpenState = false" hideToggle>
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        <mat-icon>question_answer</mat-icon>
                        <span i18n>
                            My grocery list includes every ingredient in the recipes, including staples I already have
                            like flour, spices, and seasonings. Is there a way to edit my grocery list to remove
                            staples?
                        </span>
                    </mat-panel-title>
                    <mat-panel-description>
                        <button aria-label="Expand accordion" mat-icon-button>
                            <mat-icon>add</mat-icon>
                        </button>
                    </mat-panel-description>
                </mat-expansion-panel-header>
                <p class='faq-description' i18n>If you choose to shop your grocery list online, your items will be sent
                    to
                    the grocery cart on the retailer website. From there, you can remove items you already have before
                    you checkout.
                    <br />
                    If you choose to shop in-store, you can check off items to indicate that you
                    already have them. Unfortunately you are not able to remove these items completely at this time.
                    However, we’re also looking to improve our service!
                </p>
            </mat-expansion-panel>
        </mat-accordion>
    </div>
</div>
<br>
<!-- <div class="scroll-to-top-button-wrapper">
    <button aria-label="Scroll back to top" class='scroll-button' mat-mini-fab (click)='scrollToTop()'>
        <mat-icon>expand_less</mat-icon>
    </button>
</div> -->