<div class="auth-container">
    <app-toolbar></app-toolbar>
    <div class="auth-wrapper">
        <p class='auth-header'>You're one step away from exploring 500+ recipes from around the world.
        </p>
        <div class="register-container">

            <app-register [registerForm]='registerForm' (navigate)='routeToRegisterPage()'></app-register>
        </div>
        <div class="login-container">

            <app-login [authForm]='authForm'></app-login>
        </div>
    </div>
</div>