<div class="checkout51-dialog">
    <div class="image-wrapper">
        <img src="assets/static_images/meal-recipe-footer.jpg" alt="">
    </div>
    <div class="content">
        <h2> Thanks for signing up for Meals That Matter!</h2>
        <button mat-mini-fab color='primary' class='close-button' [mat-dialog-close]>

            <mat-icon>close</mat-icon>
        </button>
        <div class='dialog-content' mat-dialog-content>
            <p> Your unique PIN code is:</p>
            <p class='pin-code'>{{pinCode}}</p>
            <button mat-button (cdkCopyToClipboardCopied)='onCodeCopiedToClipboard()' [cdkCopyToClipboard]="pinCode">
                Copy PIN to clipboard
                <mat-icon>file_copy</mat-icon>
            </button>

            <p>Copy this code, and click on the button below to go back to the Checkout 51 savings page. Paste or
                enter
                this code
                to unlock your exclusive offers</p>

            <button mat-flat-button color='primary' (click)='unlockOffers()'>UNLOCK OFFERS</button>
        </div>
    </div>
</div>