@import "../../../../scss/variables.scss";

mat-dialog-container {
    padding: unset !important;
    .checkout51-dialog {
        position: relative;
        display: grid;
        min-height: 40vh;
        @media (min-width: 768px) {
            grid-template-columns: 1fr 1fr;
            column-gap: 1em;
        }
        @media (max-width: 768px) {
            grid-template-rows: 1fr 2fr;
            row-gap: 1em;
            height: 100vh;
            width: 100vw;
        }
        .image-wrapper {
            img {
                height: 100%;
                width: 100%;
                object-fit: cover;
            }
        }
        .close-button {
            position: absolute;
            top: 4px;
            right: 4px;
        }
        .content {
            @media (min-width: 768px) {
                margin-top: 1em;
            }
            padding: 1em;
            text-align: center;

            .dialog-content {
                .pin-code {
                    font-size: 2em;
                    font-weight: 700;
                }
                button {
                    padding: 4px 1em !important;
                    margin: 4px 0;
                    width: 200px;
                }
            }
        }
    }
}
.cdk-overlay-pane {
    @media (max-width: 768px) {
        max-width: unset !important;
    }
}
