@import "../../../../scss/variables.scss";

.forgot-password-page {
  padding: 1em;
  position: relative;
  .back-button {
    top: 0;
    left: 0;
    color: $mtm_dark_grey;
    padding: unset;
  }
  .forgot-password-content {
   
    .forgot-password-form {
      display: grid;
      grid-template-rows: 1fr 1fr;
      mat-icon {
        margin-right: 1em;
      }

      .forgot-password-form-field {
        width: 100%;
      }
      .action-button {
        margin-top: 0.5em;
      }
    }
  }
}
