<div class="forgot-password-page">
  <button aria-label="Go back" class='back-button' mat-button (click)='goBack()'>
    <mat-icon>chevron_left</mat-icon>
    Back
  </button>
  <div class="forgot-password-content">
      <h2 class='title' i18n class='uppercase'>
          forgot password
        </h2>
      <form class="forgot-password-form" [formGroup]='forgotPasswordForm'>
        <div class="enter-email-container">
          <mat-form-field class='forgot-password-form-field'>
            <mat-icon matPrefix>email</mat-icon>
            <input matInput type="email" i18n-placeholder placeholder="email" formControlName='email'>
            <mat-error class='error' *ngIf='invalidEmail'>Email is invalid</mat-error>
          </mat-form-field>
          <button aria-label="Get confirmation code" class='action-button' mat-flat-button (click)='validateEmail()' i18n class='uppercase'>get confirmation code</button>
        </div>
        <div *ngIf='emailValidated' class="code-received-container">
          <mat-form-field class='forgot-password-form-field'>
            <mat-icon matPrefix>drag_indicator</mat-icon>
            <input matInput type="text" placeholder="Enter Code" formControlName='code'>
            <mat-error class='error' *ngIf='invalidCode' i18n>code is invalid</mat-error>
          </mat-form-field>
          <mat-form-field class='forgot-password-form-field'>
            <mat-icon matPrefix>lock_open</mat-icon>
            <input matInput type="password" placeholder="New Password" formControlName='password'>
          </mat-form-field>
          <mat-form-field class='forgot-password-form-field'>
              <mat-icon matPrefix>lock_open</mat-icon>
              <input matInput type="password" placeholder="Confirm Password" formControlName='confirmPassword'>
            </mat-form-field>
          <button aria-label="Submit" class='action-button' mat-flat-button (click)='validateCodeAndPassword()' i18n class='uppercase'>submit</button>
        </div>
      </form>
  </div>

</div>