@use "../../../scss/variables";

.toolbar-container {
  background-color: variables.$mtm_grey;
  padding-bottom: 1em;
  .toolbar {
    display: flex;
    width: calc(50% + 22px); //hlaf with + half logo
    justify-content: space-between;

    .edit-button {
      color: variables.$mtm_dark_green_color;
    }
    .deactivate {
      cursor: default;
      pointer-events: none;
    }
    .logo {
      height: 48px;
      cursor: pointer;
      img {
        height: 100%;
        margin-top: 4px;
      }
    }
  }
}
