<div class="layout-container" [class.is-mobile]="isMobile">
  <mat-sidenav-container class="sidenav-container" *ngIf='isMobile'>
    <mat-sidenav #snav mode="over" [fixedInViewport]="true">
      <app-mobile-menu (close)='snav.close()'></app-mobile-menu>

    </mat-sidenav>
    <mat-sidenav-content>
      <div class="toolbar">
        <button aria-label="Open menu" [class.deactivate]='snav.opened' mat-icon-button (click)="snav.toggle()">
          <mat-icon *ngIf='!snav.opened'>menu</mat-icon>
        </button>
        <a routerLink='/' class="logo">
          <img alt="Favorite icon" src="/assets/static_images/MTM_Favicon_4c_2.svg">
        </a>
      </div>
      <router-outlet></router-outlet>
    </mat-sidenav-content>
  </mat-sidenav-container>

  <!-- DESKTOP VIEW -->
  <div class="desktop-view" *ngIf='!isMobile'>
    <mat-toolbar class='desktop-nav'>
      <a routerLink='/' class="logo-desktop-wrapper" (click)="adobeDtbTracking.page_tracking('HOME','/')">
        <img alt="Meals That Matter Logo" src="/assets/static_images/MTM_Final_LOGO_4c.svg">
      </a>
      <div class="call-to-actions">
        <div class="tabs">
          <a [class.active]='activePage === "/recipes/discover"' mat-button routerLink='/recipes/discover'
            (click)="adobeDtbTracking.page_tracking('>SELECT MEALS','/recipes/discover')">SELECT
            MEALS</a>
          <a [class.active]='activePage === "/recipes/favourites"' mat-button routerLink='/recipes/favourites'
            (click)="adobeDtbTracking.page_tracking('FAVOURITES','/recipes/favourites')">FAVOURITES</a>
          <a [class.active]='activePage === "/recipes/my-meals"' mat-button routerLink='/recipes/my-meals'
            (click)="adobeDtbTracking.page_tracking('MEAL PLAN','/recipes/my-meals')">MEAL PLAN</a>
          <a [class.active]='activePage === "/recipes/grocery-list"' mat-button routerLink='/recipes/grocery-list'
            (click)="adobeDtbTracking.page_tracking('GROCERY LIST','/recipes/grocery-list')">GROCERY
            LIST</a>
        </div>
        <div class="actions">
          <a mat-button [matMenuTriggerFor]="profileMenu" *ngIf="accountService.loggedIn">My Account</a>
          <mat-menu #profileMenu="matMenu">
            <a mat-menu-item routerLink='/profile'
              (click)="adobeDtbTracking.page_tracking('View Profile','/profile')">View
              Profile</a>
            <a mat-menu-item (click)="signOut()">Sign Out</a>
          </mat-menu>
          <a mat-button *ngIf="!accountService.loggedIn" (click)='authControl()'>Already a Member?</a>

          <!-- <a mat-button routerLink='//contact-us'
            (click)="adobeDtbTracking.page_tracking('CONTACT US','//contact-us')">CONTACT
            US</a> -->
          <a mat-button [matMenuTriggerFor]="contactMenu">Help Center</a>
          <mat-menu #contactMenu="matMenu">
            <a mat-menu-item routerLink='/contact-us'
              (click)="adobeDtbTracking.page_tracking('CONTACT US','/contact-us')">CONTACT
              US</a>
            <a mat-menu-item routerLink='/faqs'
              (click)="adobeDtbTracking.page_tracking('FAQs','/faqs')">FAQs</a>
          </mat-menu>
        </div>
      </div>

    </mat-toolbar>
    <router-outlet></router-outlet>
  </div>

</div>