@import "../../../../scss/variables.scss";


.copy {
  text-align: center;
  padding: 1em 2em;
  strong {
    color: $mtm_light_green_color;
  }
  mat-icon {
    color: $mtm_light_green_color;
  }
}
.my-meals-container{
  .meal-item{
    margin-bottom: 1em;
  }
}

.my-meals-subheader {
  text-align: center;
  
  width: 75%;
  margin: auto;
}
.no-items-text {
  text-align: center;
}
.add-meal-button {
  font-family: flavour;
  width: 50%;
  margin: auto;
}
.my-meals-container {
  display: grid;
  grid-gap: 1em;
  justify-content: center;
  .virtual-scroll {
    width: 100%;
    height: 100%;
  }
  .cdk-virtual-scroll-content-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 0.5em;
  }
  .add-meal-item {
    background-color: $mtm_grey;
    display: flex;
    height: 20vh;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    .icon-container {
      mat-icon {
        transform: scale(2);
      }
    }
    p {
      margin: unset;
    }
  }
}
.my-meals-action-buttons {
  display: grid;
  margin: auto;
  grid-template-rows: 1fr 1fr;
  grid-gap: 0.5em;
  padding: 0 1em 1em 1em;
}

.route-buttons {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 0.5em;
  button {
    color: $mtm_dark_green_color !important;
    background-color: $mtm_grey !important;
  }
}
.save-meal-plan-button {
  color: $mtm_dark_green_color !important;
  background-color: $mtm_grey !important;
}

.select-meals-button-wrapper{
  display: flex;
  justify-content: center;
}

.sticky{
  position: sticky;
  top: 0;
  background-color: $mtm_white;
  z-index: 3;
}

*:focus {
  outline: 0;
  outline: none;
}
