@import "../../../../scss/customTheme.scss";
.cc-side-drawer-anchor {
  display: none;
}
.my-meals-page {
  height: calc(100% - 96px); // height subrating toolbar
  min-height: calc(100vh - 96px); // height subrating toolbar (landscape)
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: $light_beige;
}
.mobile-my-meals-page {
  height: calc(100% - 40px); // height subrating toolbar
  min-height: calc(100vh - 40px); // height subrating toolbar (landscape)
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: $light_beige;
}
.title {
  font-size: 2em;
  text-align: center;
  margin-bottom: 16px;
  color: $mtm_dark_green_color;
  font-weight: bold;
}
.my-meals-subheader {
  text-align: center;
  font-family: avenir;
  width: 75%;
  margin: auto;
}
.no-items-text {
  text-align: center;
}
.add-meal-button {
  font-family: flavour;
  width: 50%;
  margin: auto;
}
.my-meals-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
  height: 100%;
  width: 100%;
  .virtual-scroll {
    width: 100%;
    height: 100%;
  }
  .cdk-virtual-scroll-content-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 0.5em;
  }
  .add-meal-item {
    background-color: $darker_beige;
    display: flex;
    height: 20vh;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    .icon-container {
      mat-icon {
        transform: scale(2);
      }
    }
    p {
      margin: unset;
    }
  }
}
.my-meals-action-buttons {
  display: grid;
  margin: auto;
  grid-template-rows: 1fr 1fr;
  grid-gap: 0.5em;
  padding: 0 1em 1em 1em;
}

.route-buttons{
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 0.5em;
  button{
    color: $mtm_green_color !important;
    background-color: $darker_beige !important;
  }
}
.save-meal-plan-button {
  color: $mtm_green_color !important;
  background-color: $darker_beige !important;
}

*:focus {
  outline: 0;
  outline: none;
}
