<div [class]="isMobile ? 'mobile-my-meals-page' : 'my-meals-page'">
  <div class="copy">
    <h1>MEAL PLAN</h1>
    <p>Click <strong>NEXT</strong> when you're ready, to shop ingredients for these recipes. <br />Click <mat-icon>
        remove</mat-icon> to remove recipes.</p>
  </div>

  <ng-container *ngIf='mealPlan.length === 0'>
    <p class='no-items-text'>No items found</p>
    <div class="select-meals-button-wrapper">

      <button aria-label="Select meals" mat-raised-button color='primary' routerLink='/recipes/discover'
        (click)="adobeDtbTracking.pageTracking('SELECT MEALS','/recipes/discover')">
        SELECT MEALS
      </button>
    </div>
  </ng-container>


  <div class="my-meals-container">
    <div class="meal-item" *ngFor="let meal of mealPlan">

      <app-meal-item  (favouriteToggled)='updateFavourites($event)'
        (remove)='removeFromMealPlan($event)' (wasClicked)='visitMealDetailPage($event)' parent='my-meals'
        [favourited]='favouriteMealIds?.includes(meal.id)' [mealItem]='meal'>
      </app-meal-item>
    </div>

  </div>

 
</div>