<div class='my-meals-page'>
  <div class="copy sticky">
    <h1>MEAL PLAN</h1>
    <ng-container *ngIf='mealPlan.length > 0'>
      <p>Click <strong>NEXT</strong> when you're ready, to shop ingredients for these recipes.
        <br />Click <mat-icon>
          remove</mat-icon> to remove recipes.</p>
    </ng-container>

    <ng-container *ngIf='mealPlan.length === 0'>
      <p class='no-items-text'>It looks like you haven’t added
        any recipes to your meal plan yet</p>
      <div class="select-recipes-button-wrapper">

        <button aria-label="Select recipes" mat-raised-button color='primary' routerLink='/recipes/discover'
          (click)="adobeDtbTracking.pageTracking('SELECT RECIPES','/recipes/discover')">
          SELECT RECIPES
        </button>
      </div>
    </ng-container>
  </div>




  <div class="my-meals-container">
    <div class="meal-item" *ngFor="let meal of mealPlan">

      <app-meal-item (favouriteToggled)='updateFavourites($event)' [inMealPlan]='true'
        (remove)='removeFromMealPlan($event)' (wasClicked)='visitMealDetailPage($event)' parent='my-meals'
        [favourited]='favouriteMealIds?.includes(meal.id)' [mealItem]='meal'>
      </app-meal-item>
    </div>

  </div>


</div>