<div class="meal-item" (click)='viewMealDetail()'>
  <div class="img-wrapper" [class.active]='inMealPlan'>
    <button class='add-button' mat-mini-fab *ngIf='!inMealPlan' (click)='addToMealPlan($event)'>
      <mat-icon>add</mat-icon>
    </button>
    <button class='remove-button' mat-mini-fab *ngIf='inMealPlan' (click)='removeFromMealPlan($event)'>
      <mat-icon>remove</mat-icon>
    </button>
    <img  [src]="mealItem.image" [alt]="mealItem.title">
      <mat-icon class='favourite-button' *ngIf='favourited' (click)='toggleFavorite($event)'>favorite</mat-icon>
    <button class='favourite-border-button' mat-mini-fab (click)='toggleFavorite($event)'>
      <mat-icon>favorite_border</mat-icon>
    </button>

  </div>
  <div class="meal-content">
    <h4 class='meal-title' [class.title-active]='inMealPlan || favourited'>{{mealItem.title | truncate:50}}</h4>
    <div class="meal-description" *ngIf='parent !== "favourites"'>
      <p class='meal-description'>
        <ng-container *ngIf='mealItem.cookTime'>
          <strong>Cook</strong>
          {{mealItem.cookTime > 60 ? (mealItem.cookTime / 60 | floor )+ 'H ' + mealItem.cookTime % 60 : mealItem.cookTime}}
          Min.
        </ng-container>
        <ng-container *ngIf='mealItem.prepTime'>
          <strong>Prep</strong>
          {{mealItem.prepTime}} Min.
        </ng-container>
        <ng-container *ngIf='mealItem.servings'>
          <strong>Serves</strong> {{mealItem.servings.substr(0,1)}}
        </ng-container>
      </p>
    </div>
    <div class="macros-container" *ngIf='parent === "my-meals"'>
      <div class="macros-wrapper">
        <div class="macro">
          <mat-icon class='bread' svgIcon='mtmbread'></mat-icon>
          <span>Carbs: {{mealMacros.carbs}} g</span>
        </div>
        <div class="macro">
          <mat-icon class='burger' svgIcon='mtmblob'></mat-icon>
          <span>Fat: {{mealMacros.fat}} g</span>
        </div>
        <div class="macro">
          <mat-icon class='blob' svgIcon='mtmfire'></mat-icon>
          <span>Calories: {{mealMacros.calories}}</span>
        </div>

      </div>
    </div>
  </div>
</div>