<div class="meal-item" (click)='viewMealDetail()'>
  <div class="img-wrapper">
    <button class='add-button' mat-mini-fab *ngIf='!inMealPlan' (click)='addToMealPlan($event)'>
      <mat-icon>add</mat-icon>
    </button>
    <button class='remove-button' mat-mini-fab *ngIf='inMealPlan' (click)='removeFromMealPlan($event)'>
      <mat-icon>remove</mat-icon>
    </button>
    <img [class.active]='inMealPlan' [src]="mealItem.image" [alt]="mealItem.title">
      <mat-icon class='favourite-button' *ngIf='favourited' (click)='toggleFavorite($event)'>favorite</mat-icon>
    <button class='favourite-border-button' mat-mini-fab (click)='toggleFavorite($event)'>
      <mat-icon>favorite_border</mat-icon>
    </button>

  </div>
  <div class="meal-content">
    <h3 class='meal-title'>{{mealItem.title}}</h3>
    <div class="meal-description" *ngIf='parent !== "favourites"'>
      <p *ngIf='mealItem.servings'><strong>{{mealItem.servings}}</strong></p>
      <p class='meal-description'>
        <ng-container *ngIf='mealItem.cookTime'>
          <strong>Cook time:</strong>
          {{mealItem.cookTime > 60 ? (mealItem.cookTime / 60 | floor )+ 'H ' + mealItem.cookTime % 60 : mealItem.cookTime}}
          Min -
        </ng-container>
        <ng-container *ngIf='mealItem.prepTime'>
          <strong>Prep time:</strong>
          {{mealItem.prepTime}} Min
        </ng-container>
      </p>
    </div>
    <div class="macros-container" *ngIf='parent === "my-meals"'>
      <h2>NUTRITIONAL FACTS</h2>
      <div class="macros-wrapper">
        <div class="macro">
          <mat-icon class='bread' svgIcon='mtmbread'></mat-icon>
          <span>Carbs: {{mealMacros.carbs}} g</span>
        </div>
        <div class="macro">
          <mat-icon class='burger' svgIcon='mtmblob'></mat-icon>
          <span>Fat: {{mealMacros.fat}} g</span>
        </div>
        <div class="macro">
          <mat-icon class='blob' svgIcon='mtmfire'></mat-icon>
          <span>Calories: {{mealMacros.calories}}</span>
        </div>

      </div>
    </div>
  </div>
</div>