@import "../../../scss/variables.scss";

.meal-item {
  width: 300px;
  position: relative;
  padding: unset;
  cursor: pointer;
  background-color: $mtm_grey;
  .img-wrapper {
    position: relative;
    height: 250px;
    width: 100%;
    &.active:before {
      content: "";
      position: absolute;
      top: 0;
      right: 0;
      left: 0;
      height: 250px;

      bottom: 0;
      background-color: rgba($mtm_black, 0.5);
    }
    
    img {
      object-fit: cover;
      width: 100%;
      height: 100%;
      // .shaded{

      // }
    }
    .favourite-button {
      position: absolute;
      bottom: -23px;
      z-index: 2;
      left: 8px;
      color: $mtm_light_green_color;
      width: 32px;
      height: 32px;
      font-size: 20px;
      margin-top: -2px;
    }
    .favourite-border-button {
      position: absolute;
      bottom: -16px;
      left: 8px;
      background-color: $mtm_white !important;
      color: $mtm_dark_green_color;
      width: 32px;
      height: 32px;
      mat-icon {
        font-size: 24px;
        margin-top: -6px;
      }
    }
    .add-button {
      position: absolute;
      top: -16px;
      right: 8px;
      background-color: $mtm_white;
      color: $mtm_light_green_color;
      width: 32px;
      height: 32px;
      mat-icon {
        font-size: 20px;
        margin-top: -4px;
      }
    }
    .remove-button {
      position: absolute;
      top: -16px;
      right: 8px;
      background-color: red;
      color: $mtm_white;
      width: 32px;
      height: 32px;
      mat-icon {
        font-size: 20px;
        margin-top: -4px;
      }
    }
  }
  .meal-content {
    text-align: center;
    padding: 1em;
    .meal-title {
      margin: unset;
      padding: 4px;
    }
    .meal-servings {
      margin: 1em 0;
    }
  }


  .macros-container {
    h2 {
      color: $mtm_light_green_color;
    }
    .macros-wrapper {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      .macro {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        font-family: avenir;
        font-size: 10px;
        mat-icon {
          margin-bottom: 1em;
          &.blob {
            transform: scale(1.6);
          }
          &.bread {
            transform: scale(2.5);
          }
          &.burger {
            transform: scale(1.7);
          }
        }
      }
    }
  }
}



*:focus {
  outline: 0;
  outline: none;
}
