<div class="discover-meals-page">
  <div class="copy">
    <h1>
      {{pageTitle | uppercase}}
    </h1>
    <p *ngIf='pageDescription' class='subheader'>
      {{pageDescription}}
    </p>
    <p  *ngIf='!pageDescription' class='subheader' i18n>Click <mat-icon>add</mat-icon> to add a recipe to your 'Meal Plan'. Click <mat-icon>
        favorite_border</mat-icon> to save it to your favourites for later.</p>
  </div>
  <div class="search">
    <app-search-bar [searchQuery]='searchQuery' (search)='searchMeals($event)'></app-search-bar>
    <p *ngIf='didYouMean'><strong>Did you mean: </strong>
      <a class='did-you-mean' (click)='setSearchQuery()'>{{didYouMean}}?</a>
    </p>
  </div>
  <div class="filter">
    <p class='uppercase' i18n>filter recipes</p>
    <button mat-icon-button (click)='renderFilterDialog()' *ngIf='!loading'>
      <mat-icon>filter_list</mat-icon>
    </button>
    <div class="gif-wrapper" *ngIf='loading'>
      <img class='loading-text' src="/assets/static_images/Whisk-Stat-Transp.png" />
    </div>
  </div>

  <div class='no-items-wrapper' *ngIf='meals?.length === 0 && !loading && !error'>
    <p>
      <mat-icon>info</mat-icon> Sorry, we couldn't find any results matching "{{searchQuery}}"
    </p>
  </div>

  <div class="error-wrapper" *ngIf='!loading && error'>
    <p>{{error}}</p>
  </div>


  <app-mtm-slider *ngIf='meals.length > 0 && isReady' (onEndReached)='getNextBatch()' [scrollDistance]='358'
    (onStartReached)='getPreviousBatch()' [numOfItems]='meals.length' [showArrows]='!isMobile'>

    <app-meal-item *ngFor="let meal of meals; trackBy: trackByIndex; let i=index;" (add)='addToMealPlan($event)'
      (remove)='removeFromMealPlan($event)' (wasClicked)='visitMealDetailPage($event)'
      [inMealPlan]='mealPlanIds[meal.id]' [mealItem]='meal' (favouriteToggled)='updateFavourites($event)'
      [favourited]='favouriteMealIds[meal.id]'>
    </app-meal-item>
  </app-mtm-slider>

  <p  *ngIf='pageDescription && !loading' class='add-to-meal-plan-description' i18n>Click <mat-icon>add</mat-icon> to add a recipe to your 'Meal Plan'. Click <mat-icon>
    favorite_border</mat-icon> to save it to your favourites for later.</p>

  <!-- for pixel script -->
  <!-- was requested to place in discover page -->
  <img *ngIf='production && isReady' height="1" width="1" style="border-style:none;" alt=""
    src="https://insight.adsrvr.org/track/pxl/?adv=9q7d7yg&ct=0:dydi7gb&fmt=3" />
</div>