@import "../../../../scss/variables.scss";
@import "../../../../scss/variables.scss";

.discover-meals-page {
  height: calc(100% - 64px); // height subtracting toolbar
  min-height: calc(100vh - 64px); // height subrating toolbar (landscape)
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: $mtm_white;
  position: relative;
  z-index: 1;
}
.mobile-discover-meals-page {
  background-color: $mtm_white;
}
.search {
  width: 100%;
}
.copy{
  text-align: center;

  .subheader{
    padding: 0 4em;
    margin: unset;
    mat-icon{
      color: $mtm_light_green_color;
      margin-bottom: 4px;
    }
  }
}
.gif-wrapper{
  display: flex;
  justify-content: center;
  img{
    height: 40px;
  }
}

.filter{
  display: flex;
  align-items: center;
  flex-direction: column;
  p{
    margin: unset;
    color: rgba(0, 0, 0, 0.54);
  }
  mat-icon{
    font-size: 32px;
    cursor: pointer;
  }
}


.search {
  text-align: center;
  font-family: avenir;
  .did-you-mean {
    cursor: pointer;
    color: blue;
    text-decoration: underline;
  }
}
.no-items-wrapper {
  border-radius: 5%;
  font-family: avenir;
  background-color: lightgray;
  padding: 0.5em 1em 1em 1em;
  mat-icon {
    color: $mtm_dark_green_color;
  }
}
.loading-text {
  text-align: center;
  color: $mtm_dark_green_color;
}
.discover-meals-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  flex: 1;
  width: 100%;
  mat-progress-bar {
    width: 80%;
  }
}
.discover-action-buttons {
  display: flex;
  justify-content: center;
  width: 100%;
  padding: 1em;
  .next-button {
    color: $mtm_dark_green_color !important;
    background-color: $mtm_grey !important;
    font-family: flavour;
  }
}


*:focus {
  outline: 0;
  outline: none;
}
