<div class="discover-meals-page">
  <div class="copy">
    <h1>
      SELECT MEALS
    </h1>
    <p class='subheader'>Click <mat-icon>add</mat-icon> to add a recipe to your 'Meal Plan'. Click <mat-icon>
        favorite_border</mat-icon> to save it to your favourites for later.</p>
  </div>
  <div class="search">
    <app-search-bar [searchQuery]='searchQuery' (search)='searchMeals($event)'></app-search-bar>
    <p *ngIf='didYouMean'><strong>Did you mean: </strong>
      <a class='did-you-mean' (click)='setSearchQuery()'>{{didYouMean}}?</a>
    </p>
  </div>
  <div class="filter">
    <p>FILTER RECIPES</p>
    <button mat-icon-button (click)='renderFilterDialog()' *ngIf='!loading'>
      <mat-icon>filter_list</mat-icon>
    </button>
    <div class="gif-wrapper" *ngIf='loading'>
      <img class='loading-text' src="/assets/static_images/Whisk-Stat-Transp.png" />
    </div>
  </div>

  <div class='no-items-wrapper' *ngIf='meals?.length === 0 && !loading'>
    <p>
      <mat-icon>info</mat-icon> Sorry, we couldn't find any results matching "{{searchQuery}}"
    </p>
  </div>
  
 
      <app-mtm-slider *ngIf='meals.length > 0' (onEndReached)='getNextBatch()' (onStartReached)='getPreviousBatch()' [numOfItems]='meals.length'>

        <app-meal-item *ngFor="let meal of meals; trackBy: trackByIndex; let i=index;" (add)='addToMealPlan($event)' (remove)='removeFromMealPlan($event)'
          (wasClicked)='visitMealDetailPage($event)' [inMealPlan]='mealPlanIds[meal.id]' [mealItem]='meal'
          (favouriteToggled)='updateFavourites($event)' [favourited]='favouriteMealIds[meal.id]'>
        </app-meal-item>
      </app-mtm-slider>

</div>