@import "../../../../scss/variables.scss";
@import "../../../../scss/variables.scss";

.discover-meals-page {
  height: calc(100% - 64px); // height subtracting toolbar
  min-height: calc(100vh - 64px); // height subrating toolbar (landscape)
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: $light_beige;
  position: relative;
  z-index: 1;
}
.mobile-discover-meals-page {
  height: calc(100% - 40px - 2em); // height subtracting mobil toolbar
  min-height: calc(100vh - 40px - 2em); // height subrating toolbar (landscape)
  padding: 1em 0;
  text-align: center;
  background-color: $light_beige;
}
.search {
  width: 100%;
}
.title {
  padding: 1em 3em 0 3em;
}
.subheader {
  text-align: center;
  font-family: avenir;
  width: 75%;
}
.search {
  text-align: center;
  font-family: avenir;
  .did-you-mean {
    cursor: pointer;
    color: blue;
    text-decoration: underline;
  }
}
.no-items-wrapper {
  border-radius: 5%;
  font-family: avenir;
  background-color: lightgray;
  padding: 0.5em 1em 1em 1em;
  mat-icon {
    color: $mtm_green_color;
  }
}
.loading-text {
  text-align: center;
  color: $mtm_dark_green_color;
}
.discover-meals-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  flex: 1;
  width: 100%;
  mat-progress-bar {
    width: 80%;
  }
}
.discover-action-buttons {
  display: flex;
  justify-content: center;
  width: 100%;
  padding: 1em;
  .next-button {
    color: $mtm_green_color !important;
    background-color: $darker_beige !important;
    font-family: flavour;
  }
}

*:focus {
  outline: 0;
  outline: none;
}
