<div class="article-page">
    <div class="img-wrapper">
       <img src="/assets/static_images/articles/what-and-what-not-to-freeze.jpg" alt="">
    </div>
    <div class="article">
        <h1>WHAT AND WHAT NOT TO FREEZE</h1>

        <p>Freezing is a great way to retain the texture, flavour and colour of foods and can help you with your
            weekly menu planning so avoiding waste.</p>
        <p>The two main things to remember when freezing are firstly, once defrosted don’t re-freeze, just cook
            straight away and secondly, never refreeze defrosted meats or fish.</p>
        <p>It’s important to remember these rules to avoid food poisoning and it’s worth mentioning that food
            containing ingredients that have been defrosted can then actually be frozen again once they have
            been cooked. So defrosting ground beef, cooking a spaghetti bolognese sauce with it and then
            freezing it is perfectly ok.</p>
        <p>Remember to ensure items are well wrapped to protect them from freezer burn caused by prolonged
            exposure to freezing cold air.</p>
        <h3>FRESH HERBS</h3>
        <p>Softer herbs lose colour and structure and are best not frozen. Herbs such rosemary, thyme,
            lemongrass, chives and mint freeze best and can keep for up to three months. A great tip is to
            freeze chopped herbs with water in ice cube trays. These are great for using in soups and
            casseroles.</p>
        <h3>EGGS</h3>
        <p>Whole eggs and separated yolks can’t be frozen, but egg whites will keep frozen for up to six months.
            When beaten, eggs can be frozen for up to 2-3 months. They are best thawed in the fridge and
            defrosted beaten eggs are best used in baking.</p>
        <h3>BREAD</h3>
        <p>Bread is best used within a month of freezing.</p>
        <h3>VEGETABLES</h3>
        <p>Vegetables with a high water content such as tomatoes and cucumbers don’t freeze well as freezing
            damages the structure. Other vegetables freeze really well and work best if they are blanched first.
            To blanch simply plunge the veg into boiling water for 2 minutes, remove, then place under cold
            water to immediately stop the cooking process.Pumpkins are a great example of a veg that’s perfect
            for freezing. Peel and cut the pumpkin in rough large cubes, freeze and cook later.</p>
        <h3>MEAT</h3>
        <p>Raw meat will keep frozen for around six months, but is best used within 3 months. Thawed meat should
            never be re-frozen. If you want to freeze meat that’s already been thawed then cook it first. Cooked
            and cured meats such as bacon should be frozen for no more than one month.</p>
        <h3>BERRIES</h3>
        <p>Summer fruits can be kept in the freezer all year round. It’s best to freeze the berries laid out on
            a tray then placed in a container or freezer bag, this way they won’t stick together when freezing.
            Some berries such as raspberries and blueberries freeze reasonably well, whilst others like
            strawberries, which have higher water content, can be frozen but lose firmness when thawed and are
            best used for smoothies and purees.</p>
        <h3>CHEESE</h3>
        <p>Cheeses that have been frozen are best used only for cooking. For ease of use try grating before
            freezing. Cheeses are best defrosted overnight in the fridge before using.</p>
        <h3>FISH</h3>
        <p>Fish is just perfect for freezing and it’s best frozen straight after it’s caught. Frozen fish is
            best used within 1 month and should be used within a maximum of 3 months.</p>
        <h3>MILK</h3>
        <p>Milk freezes really well and can be kept frozen for up to one month.</p>
        <h3>WINE</h3>
        <p>Many people forget that wine can be frozen. As a great tip, if you have any wine left over, freeze it
            in ice-cube trays and use in cooking with great results.</p>

    </div>
</div>