// MTM Brand Palette
$MTMBrandPalette: (
  50: #023119,
  100: #414042,
  200: #86ae9a,
  300: #568e71,
  400: #317552,
  500: #ebebeb,  //Used as accent color
    600: #05c758, // light green
  700: #047940, // used a primary color
    800: #074121,
  900: #033015,
  //Used as primary color
    A100: #69ff96,
  A200: #36ff73,
  A400: #03ff4f,
  A700: #00e846,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #ffffff,
    400: #ffffff,
    //Background color used in mymealplan page
      500: #ebebeb,
    //Background color used in add a meal button and full recipe page ingredient section
      600: #f1f2f2,
    700: #ffffff,
    800: #ffffff,
    900: #ffffff,
    A100: #023119,
    A200: #414042,
    A400: #000000,
    A700: #000000
  )
);

@import "~@angular/material/theming";
@include mat-core();

$primary: mat-palette($MTMBrandPalette, 700);
$accent: mat-palette($MTMBrandPalette, 500);
$warn: mat-palette($mat-red, 400);

$customTheme: mat-light-theme($primary, $accent, $warn);

@include angular-material-theme($customTheme);

//Color Variables
