/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

@import "./customTheme.scss";

@import "./fonts.scss";

@import "./variables.scss";

html,
body {
  background: $mtm_white;
  font-family: filson;
  margin: unset;
  height: 100%;
  color: $mtm_body_color;
  h1, h2, h3, h4, h5, h6{
    font-family: filson-bold;
    color: $mtm_headline_color;
  }
  p{
    line-height: 22px;
  }

}

mat-icon {
  vertical-align: middle;
}

button {
  .mat-progress-spinner circle,
  .mat-spinner circle {
    stroke: $mtm_white;
  }
  font-family: filson !important;
}
mat-dialog-container{
  overflow: unset;
}

.mat-menu-content {
  .mat-menu-item {
    font-family: flavour !important;
  }
}
// dialog colors
.email-dialog-container {
  max-width: unset !important;
  .mat-dialog-container {
    padding: 0;
  }
}

.recipe-dialog-container {
  max-width: unset !important;
  .mat-dialog-container {
    padding: 0;
  }
}
.faded-backdrop {
  background: rgba(255, 255, 255, 0.7);
}

.cc-side-drawer-anchor {
  display: none !important;
}

.slick-slider {
  width: 80%;
  margin: 0 auto;
}

.nav-btn {
  height: 47px;
  position: absolute;
  width: 42px;
  cursor: pointer;
  top: 100px;
}
.disable-next-button {
  .nav-btn.next-slide {
    pointer-events: none;
    opacity: 0.5;
  }
}

.prev-slide {
  background: url("#{$imgdir}/icon-left.png") no-repeat scroll 0 0;
  left: -85px;
  transform: scale(1.25);
}

.next-slide {
  background: url("#{$imgdir}/icon-right.png") no-repeat scroll;
  right: -100px;
  transform: scale(1.25);
}

.recipe-page-carousel {
  &:not(.mobile-carousel) {
    .next-slide {
      transform: scale(1.5);
      background: url("#{$imgdir}/chevron-right-white.png") no-repeat scroll !important;
    }
    .prev-slide {
      transform: scale(1.5);
      background: url("#{$imgdir}/chevron-left-white.png") no-repeat scroll !important;
    }
  }
}

.mobile-carousel {
  .next-slide {
    height: 85px;
    width: 85px;
    background: url("#{$imgdir}/mobile-carousel-icon.png") no-repeat scroll 0 0;
    z-index: 1;
    transform: scale(0.6);
    position: absolute;
    right: -30px;
    top: 60px;
    cursor: pointer;
  }
  .prev-slide {
    position: absolute;
    left: -30px;
    top: 60px;
    height: 85px;
    width: 85px;
    background: url("#{$imgdir}/mobile-carousel-icon.png") no-repeat scroll 0 0;
    z-index: 1;
    transform: scale(0.6) rotate(180deg);
    cursor: pointer;
  }
}
