@import "./customTheme.scss";

@import "./fonts.scss";

@import "./variables.scss";

html,
body {
  background: $mtm_white;
  font-family: Arial; 
  margin: unset;
  height: 100%;
  color: $mtm_body_color;
  h1, h2, h3, h4, h5, h6{
    font-family: filson-bold;
    color: $mtm_headline_color;
  }
  p{
    line-height: 22px;
  }

}

.uppercase{
  text-transform: uppercase;
}

.bold{
  font-weight: bold;
}

.titlecase{
  text-transform: capitalize;
}

mat-icon {
  vertical-align: middle;
}

button {
  .mat-progress-spinner circle,
  .mat-spinner circle {
    stroke: $mtm_white;
  }
}
.mat-button{
  
  font-family: Arial !important;
 
}
.mat-flat-button{
  padding: 2px 4px 4px 4px !important;
}

mat-dialog-container{
  overflow: unset;
}

.mat-drawer-container {
  background-color: $mtm_white !important;
}

.mat-menu-content {
  .mat-menu-item {
    font-family: Arial !important;
  }
}
// dialog colors
.email-dialog-container {
  max-width: unset !important;
  .mat-dialog-container {
    padding: 0;
  }
}

.recipe-dialog-container {
  max-width: unset !important;
  .mat-dialog-container {
    padding: 0;
  }
}
.faded-backdrop {
  background: rgba(255, 255, 255, 0.7);
}

.cc-side-drawer-anchor {
  display: none !important;
}

.slick-slider {
  width: 80%;
  margin: 0 auto;
}

.nav-btn {
  height: 47px;
  position: absolute;
  width: 42px;
  cursor: pointer;
  top: 100px;
}
.disable-next-button {
  .nav-btn.next-slide {
    pointer-events: none;
    opacity: 0.5;
  }
}


// cookies on this site
#_ghostery-title{
  font-family: Arial !important;
}

#_ghostery-body{
  font-family: Arial !important;
}

#_evh-ric{
  svg{
    height: 18px !important;
    width: 18px !important;
  }
}