<div class="layout-container" [class.is-mobile]="isMobile">
  <mat-sidenav-container class="sidenav-container" *ngIf='isMobile'>
    <mat-sidenav #snav mode="over" [fixedInViewport]="true">
      <app-mobile-menu (close)='snav.close()'></app-mobile-menu>

    </mat-sidenav>
    <mat-sidenav-content>
      <div class="toolbar">
        <button aria-label="Open menu" [class.deactivate]='snav.opened' mat-icon-button (click)="snav.toggle()">
          <mat-icon *ngIf='!snav.opened'>menu</mat-icon>
        </button>
        <a routerLink='/' class="logo">
          <img alt="Favorite icon" src="/assets/static_images/MTM_Favicon_4c_2.svg">
        </a>
      </div>
      <router-outlet></router-outlet>
    </mat-sidenav-content>
  </mat-sidenav-container>

  <!-- DESKTOP VIEW -->
  <div class="desktop-view" *ngIf='!isMobile'>
    <app-toolbar></app-toolbar>
    <router-outlet></router-outlet>
  </div>

</div>