<footer class="app-footer">
    <ng-container *ngIf='isMobile'>
        <div class="visit-brands">
            <a rel="noopener" (click)="adobeDtbTracking.pageTracking(item.name, item.href)"
                *ngFor='let item of footerItems.brands' target="_blank" [href]="item.href">{{item.name}}</a>
        </div>
        <div class="social-icons">
            <a rel="noopener" *ngFor='let item of footerItems.social'
                (click)="adobeDtbTracking.pageTracking(item.name, item.href)" target="_blank" [href]="item.href">
                <img [src]="item.img" [alt]="item.name">

            </a>
        </div>
        <div class="ad-logos">
            <a id="_bapw-link" href="#" target="_blank" style="text-decoration:none !important">
                <img alt="Adchoices" id="_bapw-icon"
                    style="border:0 !important;display:inline !important;vertical-align:middle !important;padding-right:5px !important;" />
                <span style="vertical-align:middle !important">AdChoices</span>
            </a>
            <a class='unilever-logo' href="https://www.unilever.ca">
                <img class='unilever-logo' src="/assets/static_images/footer/unilever-logo.svg" alt="Unilever logo">
                <span>© 2020 Unilever</span>
            </a>
        </div>
    </ng-container>
    <div *ngIf='!isMobile' class="desktop-wrapper">

        <a rel="noopener" (click)="adobeDtbTracking.pageTracking(item.name, item.href)"
            *ngFor='let item of footerItems.brands' target="_blank" [href]="item.href">{{item.name}}</a>
        <a rel="noopener" *ngFor='let item of footerItems.social'
            (click)="adobeDtbTracking.pageTracking(item.name, item.href)" target="_blank" [href]="item.href">
            <img [src]="item.img" [alt]="item.name">

        </a>
        <a id="_bapw-link" href="#" target="_blank" style="text-decoration:none !important">
            <img alt="Adchoices" id="_bapw-icon"
                style="border:0 !important;display:inline !important;vertical-align:middle !important;padding-right:5px !important;" />
            <span style="vertical-align:middle !important">AdChoices</span>
        </a>
        <a class='unilever-logo' href="https://www.unilever.ca">
            <img class='unilever-logo' src="/assets/static_images/footer/unilever-logo.svg" alt="Unilever logo">
            <span>© 2020 Unilever</span>
        </a>
    </div>
    <div class="legal">
        <ng-container *ngFor='let item of footerItems.legal'>
            <a rel="noopener" *ngIf='item.href' [href]="item.href" target="_blank"
                (click)="adobeDtbTracking.pageTracking(item.name, item.href)">{{item.name}}</a>

            <a *ngIf='item.routerLink' [routerLink]="item.routerLink"
                (click)="adobeDtbTracking.pageTracking(item.name, item.href)">{{item.name}}</a>
        </ng-container>

    </div>


    <div class="footer-wrapper">
        <p class='footer-text'>This website is intended for Canadian consumers of products and services
            of
            Unilever Canada Inc.
            This website is not intended for consumers outside Canada.
        </p>
    </div>

</footer>